[2017-04-22 16:13] DominikDitoIvosevic opened #1 "The readmes aren't in sync"
Hi
I'm trying to create my own language server so I was trying to use this as a simple example.
I think the instructions are not up to date anymore or something.
https://github.com/alanz/haskell-lsp
Simply running the extension does not create the tmp file as I would expect

https://github.com/alanz/vscode-hie-server/blob/master/vsc-extension-quickstart.md
it says that there is a registerCommand f

[2017-04-22 16:37] alanz commented on #1
That executable has actually rotted, I need to remove it. Your best bet is to use https://github.com/alanz/haskell-ide-engine/tree/lsp

This pulls in `haskell-lsp` and makes use of it, in https://github.com/alanz/haskell-ide-engine/blob/lsp/src/Haskell/Ide/Engine/Transport/LspStdio.hs

[2017-04-22 16:38] alanz commented on #1
PS, there is an IRC channel at freenode #haskell-ide-engine

[2017-04-22 16:56] alanz commented on #1
See https://github.com/alanz/haskell-lsp/commit/a0953e1dd9ca246c018c49c5ae7aa8355ab4e9fa

And I just realised you need to use the `spec-v3.0` branch

[2017-08-04 12:40] AlexeyRaga opened #2 "Go To Definition opens a weird tab"
When I click `F12` (or `Go To Definition` in a menu) it indeed opens the definition, but in a new tab with a weird title:

![image](https://user-images.githubusercontent.com/1394391/28968849-5a8426e2-7965-11e7-86a1-46f04e95ef17.png)

It would be great if it was opening the real file instead.

[2017-08-04 12:44] AlexeyRaga opened #3 "Hovering over comments and library functions spams errors"
On MacOS:

- Press `Cmd`
- Move cursor over some comments, type definitions or library functions.

This kind of error messages appears in an output pane:
![image](https://user-images.githubusercontent.com/1394391/28969084-707eccd0-7966-11e7-83e6-6deb25992ac6.png)

[2017-08-08 17:32] wz1000 commented on #2
@AlexeyRaga this is a bug in HIE. Can you report it in the main HIE repo, along with steps to reproduce if possible?

Sorry, I didn't see this issue until today.

[2017-08-08 17:43] wz1000 commented on #3
vscode calls findDefinition on every position you hover over when pressing `Cmd`. Currently, we don't have a better way to report this error. `ShowMessage` is even more intrusive.

[2017-08-08 17:46] alanz commented on #3
Can we not return some kind of null result?

[2017-08-08 18:11] alanz commented on #3
Send an empty list

On 8 August 2017 at 20:07, wz1000 <notifications@github.com> wrote:

[2017-08-11 10:49] #2 closed

[2017-08-11 10:49] AlexeyRaga commented on #2
Reported here: https://github.com/alanz/vscode-hie-server

[2017-08-12 07:01] AlexeyRaga opened #5 "Server fails with new version"
Current `master` fails with this error:

[code]

[2017-08-12 07:02] AlexeyRaga commented on #5
Will re-open against HIE

[2017-08-12 07:02] #5 closed

[2017-08-12 09:28] alanz commented on #5
Sorry, see https://github.com/haskell/haskell-ide-engine/pull/282

[2017-08-13 21:37] ismailmustafa opened #6 "No hoogle db found"
Upon pulling and installing a more recent version of hie, I've started getting the following warning when opening a Haskell project in vscode:

![image](https://user-images.githubusercontent.com/6578679/29253526-544f5b86-804d-11e7-92e5-ec18b5add4bd.png)

I'm running the following versions of hie and hoogle:

Version 0.1.0.0, Git revision 2dfb5d8635a233c9765ed11c5fc299f68adea91f (963 commits) x86_6

[2017-08-14 00:16] ismailmustafa commented on #6
Looking at the code base, I've realized that https://github.com/haskell/haskell-ide-engine/issues/285 is a better place for this issue.

[2017-08-14 00:16] #6 closed

[2017-08-15 18:39] alanz opened #7 "We need windows startup support"
Currently this extension assumes linux, and calls a bash file.

[code]

[2017-08-19 20:41] nebtrx opened #10 "`Go to Definition` and `Peek Definition` are not working properly when definition is found inside the current module"
First, congratulations on the excellent job with this extension and the engine. Great amount of features and real fast performance! Cheers!

I noticed a couple of issues with extensions tho.

When you try to navigate or peak the definition of a function defined inside the same module it peaks or navigates a to a source file with the same content but in a different location like for example: `/priv

[2017-08-19 23:40] AlexeyRaga commented on #10
I have reported the first issue here: https://github.com/haskell/haskell-ide-engine/issues/279
It is good to know that you could reproduce it and that I am not alone ;)

[2017-08-20 03:21] nebtrx commented on #10
Great @AlexeyRaga. I'm using VSCode 1.15.1 as well

[2017-08-20 05:20] wz1000 commented on #3
@AlexeyRaga can you confirm that this issue is solved by https://github.com/haskell/haskell-ide-engine/pull/298 ?

[2017-08-21 17:02] nebtrx commented on #10
This no longer applies after merging haskell/haskell-ide-engine#299. Closing it!

[2017-08-21 17:02] #10 closed

[2017-09-07 21:39] LeanderK opened #15 "Optional special rendering of Haskell keywords"
I always wanted to do that 🙂
I would like vscode to render forall as ∀, \ as λ etc. without actually writing unicode. I don't know if it's feasable, but if it's not much work, i would try to find an evening dedicated to solving this problem. I would make it optional though.

[2017-09-13 18:35] geraldus opened #16 "Conflict with Vim extension on NixOS"
Running `vscode-hie-server` with `Vim` makes impossible to edit files.  E.g. it is not possible to move using <kbd>H</kbd> <kbd>J</kbd> <kbd>K</kbd> <kbd>L</kbd>, change mode other to `NORMAL`, it looks like all keyboard input is ignored.  Disabling `Vim` plugin restores normal behaviour.

[2017-09-13 18:46] alanz commented on #16
Using `vscode 1.16.0`, `Vim 0.10.0` and `vscode-hie-server 0.0.2` I get the expected behaviour
 for `h j k l H L`

[2017-09-13 18:47] alanz commented on #16
Using `vscode 1.16.0`, `Vim 0.10.0` and `vscode-hie-server 0.0.2` I get the expected behaviour
 for `h j k l H L`

[2017-09-13 18:54] geraldus commented on #16
Hmm... I'm on NixOS.  I have installed HIE server via Marketplace.  Seems it's not working at all:

[code]
Looks like some node modules are missing.

[2017-09-13 18:56] alanz commented on #16
Perhaps try to find where it installed it and issue the appropriate `npm ...` command. Whatever it is.

I can't help with nixos stuff, unfortunately.

[2017-09-13 18:59] alanz commented on #16
You could try installing it like this too: https://github.com/alanz/haskell-ide-engine#using-hie-with-vscode

[2017-09-14 16:20] geraldus commented on #16
I have tried that method before and after I opened this issue and all time I get same behaviour.

[2017-09-18 16:51] alanz opened #17 "Deal gracefully with missing hie exe"
At the moment it just consumes one whole CPU continuously until it does from OOM.

Does anyone with vscode/typescript experience know how to do https://github.com/Microsoft/language-server-protocol/issues/215#issuecomment-330283281?

[2017-10-05 23:29] AlexeyRaga opened #19 "Red underline is missing for compilation errors"
I am not sure if it is an issue with the plugin or with https://github.com/haskell/haskell-ide-engine so I report it here.

At some point in time HIE stopped reporting compilation errors. It used to be (and it should be) a red line indicating an error when the code is not right, but it is not there anymore for most of the cases.

I reproduce it by deliberately making a compilation error (put a spa

[2017-10-05 23:32] AlexeyRaga opened #20 "Apply hlint suggestion from a list always applies first"
Sometimes there are more than one hlint suggestion for a given line. In this case, when the light bulb is clicked, VSCode shows a popup list of options to chose from.

It looks like currently the choice doesn't matter: clicking on _any_ fix from that list always applies the 1st suggestion.

[2017-10-17 12:08] AlexeyRaga commented on #19
After compiling the latest version of `haskell-ide-engine` I got my errors back.

[2017-10-17 12:08] #19 closed

[2017-11-07 00:57] Tehnix opened #26 "Adding link to MarketPlace in GitHub header"
cc @alanz

I wanted to hear if you could possibly add https://marketplace.visualstudio.com/items?itemName=alanz.vscode-hie-server to the header of the GitHub info (next to the description). While I have push access, it seems setting settings (understandably) is still limited :)

[2017-11-09 14:11] halhenke opened #29 "Add tslint?"
Have been mucking around with adding an option to show the output of the `Show Type` command on hover (much like in the `ide-haskell` plugin for Atom). Never really mucked around with Typescript or VSCode API but have missed having eslint in terms of catching some other obvious errors (shadowing variable names etc) and providing consistency. To that end I think it might be nice to add [tslint](htt

[2017-11-09 21:06] AlexeyRaga commented on #29
I think it'll be super useful.

[2017-11-11 04:28] Tehnix commented on #29
That sounds great, yeah :)

[2017-11-13 12:09] alanz commented on #29
@halhenke Please submit a PR

[2017-11-13 12:11] alanz commented on #26
Is this still needed, given the rework you have done to the main page?

[2017-11-13 13:19] Tehnix commented on #26
I think it still makes sense, yeah. The readme itself doesn’t mention the market place, because it’s displayed on the marketplace page also. On the market place though, we link to github in the side, so thought it’d be nice to go full circle with the GitHub description link going to the market place :)

[2017-11-13 13:30] alanz commented on #26
Ok, do you want to make a PR, and then we release?

Alan

[2017-11-13 13:35] Tehnix commented on #26
Ah, the link in the description is a github thing, I actually can’t PR it. Like, on the front page of the repo you can edit the description, and in the same place you can also add a link.

I think it’s admin privilege thing I think 🤔

[2017-11-13 13:56] alanz commented on #26
Ok, done it. Sorry, should have actually paid attention.

[2017-11-13 13:56] #26 closed

[2017-11-14 13:45] #29 closed

[2017-12-01 06:35] alanz commented on #17
Fixed via https://github.com/alanz/vscode-hie-server/commit/c4eb20fdf1fa4b3e00289762a04f151aacffe0b8

[2017-12-01 06:35] #17 closed

[2017-12-01 06:35] #7 closed

[2017-12-01 06:38] alanz opened #31 "Add setting for multiple hie versions"
The `hie` executable is built based on a particular GHC version, and as it uses the GHC API and loads the project using it, the `hie` GHC and project GHC must match.

`hie` can now be built for GHC 8.0.2, 8.2.1 and 8.2.2.

Provide a client-side setting to choose a specific `hie` executable for a project.

[2017-12-05 02:38] nponeccop commented on #31
Do you want it to be similar to `hlintOn` in https://github.com/alanz/vscode-hie-server/blob/master/package.json#L79 ? Note that we can define enums in JSON schema.

[2017-12-05 05:29] Tehnix commented on #31
I was wondering, as to make as little coupling to any editor, would it make sense for `hie` itself actually be a wrapper for `hie-x.y.z`, which is tied to the GHC version it was built for? Then `hie` would do its best to hit the right GHC version and then tunnel everything to that binary, while the editor configuration would then be for forcing a particular version? 🤔

My goal is in general to pac

[2017-12-05 06:15] alanz commented on #31
I see this eventually being handled on the server side. But in the interim the low hanging fruit is to do it in the client, like the hlint on/off setting

[2017-12-05 06:19] nponeccop commented on #31
I'll take a look

[2017-12-06 18:36] halhenke opened #32 "Snippets?"
Was wondering if we might want to add some snippets - or is this something that you would rather see in a separate, specific extension?

[2017-12-09 01:46] AlexeyRaga commented on #3
I haven't seen this issue for a while now

[2017-12-09 01:46] #3 closed

[2017-12-09 15:45] soylens opened #33 "Applying HLint Suggestions does not work properly"
Sometimes it doesnt delete the old code and just append everything after the entire code block
[code]
turns into
[code]
and another one:
[code]
turns into
[code]
I'm using Caps so that it would be easier to locate them

[2017-12-09 15:51] soylens opened #34 ""hie executable missing" upon start"
I have installed it as instructed and it is in the PATH
Force Start works

[2017-12-09 15:54] soylens commented on #34
It seems that the function isHieInstalled does not work properly
Apparantly because of there is no "which" command under any shell with Windoes

[2017-12-09 16:22] Tehnix commented on #34
Hmm, I thought Windows would use https://github.com/alanz/vscode-hie-server/blob/master/hie-vscode.bat to run HIE (i.e. no `which` used) 🤔

[2017-12-09 17:34] soylens commented on #34
hmm, i think that only works with cmd, but not powershell
(i ran `where hie` in Posh and it output nothing)
(I set the default shell to cmd and it didnt help either)
I think it would help to let the user specifie the hie executable, although it might be a little inconvenient.
i currently have no idea of other solutions

[2017-12-09 17:40] soylens commented on #34
No what the hell

[2017-12-09 17:44] soylens commented on #34
btw does this handle the applying hlint suggestion part? it doesnt funtion properly with me

[2017-12-09 19:49] nponeccop commented on #34
`which` is not present on Windows, and even on Linux/MacOS something less fragile should be used.

Interestingly there are already such modules on `npm`, e.g. `command-exists`, and it uses `command` (which is shell builtin so it's present in more cases than `which`) and `where` on Windows.

Maybe we should depend on `command-exists` or similar for cross-platform checks instead of making our own.

[2017-12-09 20:24] nponeccop commented on #32
Snippets are an optional feature of autocompletion in the Language Server Protocol (https://github.com/Microsoft/language-server-protocol/blob/master/snippetSyntax.md), so it's logically should be a part of this extension.

[2017-12-09 20:41] nponeccop commented on #33
Interestingly if I use `hlint --refact` I get the correct output. Here is the diff:

[code]
I installed hlint and refact using `stack.yaml`, so they are of exactly the same version HIE gets for GHC 8.0.2.

The steps to reproduce are:

- go to hie build folder
- run `stack install hlint refact`, appending `--stack-yaml=` if necessary
- if you did it correct then only a few things get rebuilt as we

[2017-12-09 20:55] hanjoosten commented on #34
Indeed. I copied `where.exe` to my utils directory, which is in the path.

[2017-12-10 01:18] soylens commented on #33
So you failed with the VS code addon?
BTW by me it said hlint.exe:cound not find refactor
So installed apply-refact and hlint works yet it still doesnt work with the HIE plugin.
Im not sure if it's your problem or HIE's

[2017-12-10 03:35] nponeccop commented on #33
I didn't try VS code. I only checked bare `hlint --refactor` command line

[2017-12-11 17:26] #34 closed

[2017-12-18 12:34] #33 closed

[2017-12-18 23:14] nponeccop commented on #33
You should state why the bug is closed (for future readers)

[2017-12-19 12:06] soylens commented on #33
Cuz this is not a problem on this side

[2017-12-19 18:54] stellarhoof commented on #31
Wouldn't providing a package and requiring it to be built locally with `stack` solve this issue? If it's included in the stack snapshots it'd choose the right package automatically. Is it because we shouldn't assume someone uses stack?

[2017-12-19 19:58] nponeccop commented on #31
I don't see how inclusion in stack snapshot helps us. And there are custom/local snapshots.

[2017-12-20 10:58] tittoassini opened #36 "VsCode under OSX - hie not working"
Hi,

I would like to help debug vscode-hie-server under osx.

The behaviour I observe is that vscode/hie seems to work correctly, for example by detecting hlint issues, only on the first haskell file that it opens.

Afterwards, when I hover on some symbol or some hlint issue I see a 'Loading' message and nothing happens. Also code formatting does not seem to do anything.

I have installed the late

[2017-12-20 11:21] AlexeyRaga commented on #36
This happens to me too, but only on just a couple of projects: https://github.com/haskell-works/hw-haskell-avro is one of them.
HIE on MacOS doesn't work consistently with this project. However, I haven't (yet) investigated or looked into logs.

[2017-12-20 13:47] soylens commented on #36
Did you delete the build directory after installing HIE? Curretnly that causes problems. See https://github.com/haskell/haskell-ide-engine/issues/400

[2017-12-20 14:45] tittoassini commented on #36
On that thread I saw this comment:

Note that it only makes sense to use the 8.2.2 version if your project is
8.2.2 too - ghc versions must match

I recompiled my project with 8.2.2 and things seem to be improving :-)

Now it seems to report issues on all files, it doesn't get stuck as before.

I will keep on using it and report my findings.

On 20 December 2017 at 14:47, R. Patrick. Huang <notifi

[2017-12-20 14:47] tittoassini commented on #36
BTW, if it depends on a specific GHC version, should it not do as intero
that recompiles itself for every project using the current stack
configuration?

On 20 December 2017 at 15:45, Pasqualino "Titto" Assini <
tittoassini@gmail.com> wrote:

--
Dr. Pasqualino "Titto" Assini

http://networkpolitics.svbtle.com
http://quid2.org/

[2017-12-20 16:02] tittoassini commented on #36
OK, so the issue was definitely due to a GHC version mismatch.
Compiling both hie and my project with GHC 8.2.2., things are fine.

All the features now seem to work, I just found this minor issue:
- hint "use newtype instead of data" is not applied when clicking on the lightbulb

However, I get a lot of these:
Got error while processing diagnostics: These modules are needed for compilation but no

[2017-12-29 20:42] dpren commented on #36
👉  https://github.com/haskell/haskell-ide-engine/issues/391

[2017-12-29 21:53] nponeccop commented on #36
Different parts of `hie` have different understanding. The compilation is performed by `ghc-mod` library which has fairly complete understanding. But for example `hlint` part has no understanding, so it has problems with some `{-# LANGUAGE` pragmas and infix operators.

I vote for closing this bug as a duplicate of https://github.com/haskell/haskell-ide-engine/issues/391

[2017-12-31 07:50] jchia opened #38 "HIE confused about project modules"
I have a [simple project](https://github.com/jchia/hie-bug) demonstrating what appears to be a bug.

The project has 2 modules `Lib1` and `Lib2`, the latter importing the former. Upon opening `Lib2.hs` in vscode, I get this error popup:
[code]

If I dismiss it, I can continue working on the file, but it reappears whenever I make a change.

I don't know whether this is a bug with the frontend (vsco

[2017-12-31 09:10] nponeccop commented on #38
This is a duplicate of https://github.com/haskell/haskell-ide-engine/issues/391 and https://github.com/alanz/vscode-hie-server/issues/36

[2017-12-31 09:44] jchia commented on #38
Indeed.

[2017-12-31 09:44] #38 closed

[2018-01-13 09:55] sgronblo opened #39 "Add an option for only checking on file save"
Currently this plugin seems to rechecking the file on each edit. This uses quite a lot of CPU and can adversely affect your laptop's battery life.

It would be nice if there was an option for this plugin to only check for errors in a file when the file is saved.

[2018-01-24 13:20] alanz commented on #31
Closed (as good enough) via https://github.com/haskell/haskell-ide-engine/pull/447 and https://github.com/alanz/vscode-hie-server/pull/41

[2018-01-24 13:20] #31 closed

[2018-01-24 16:15] mitutee opened #42 "Hoogle version conflict leads to crash of type information feature"
There is some mismatch of hoogle versoins at my machine, and that leads to crash of type info popups.
When I open project with vs code and hoover over 3rd party types, popups work fine. But when I hoover over my type, the error happens, and I get `Loading..` popup even for types that worked normally before that error.

## Expected Behavior
If something goes wrong with one hoogle database, it is st

[2018-01-24 22:23] mtesseract opened #43 "Support for Test Suites?"
Hi,

I am currently testing the VSCode extension for HIE. So far, my test project is looking good in VSCode/HIE, but the included test suite does not seem to be "working" out of the box: Its dependencies do not seem to be "in scope". The package.yaml contains the following:

[code]
ghcmod says:

[code]

along with some other modules, which are imported by the test module.

When I use Intero in Ema

[2018-01-24 23:40] Tehnix commented on #43
In case you don't get any responses here, I think this might be better posted on https://github.com/haskell/haskell-ide-engine, which I think has more traffic.

Not at all to dismiss your problem, but the main work is happening in the language server itself, and not so much in the clients (like VSCode is).

[2018-02-01 15:54] wiz opened #44 "No hoogle db found. Check the README for instructions to generate one"
But there are no instructions in readme... :confused:

[2018-02-02 02:12] Tehnix commented on #44
I think it meant the HIE readme, but that is obviously not clear :)

If I remember correctly you need `Hoogle 5.0.16`, which can mean a upgrade via e.g. stack install and a newer resolver. And then follow https://github.com/haskell/haskell-ide-engine#hoogle-docs-on-hover for more information about generating.

[2018-02-03 21:06] dhruvrajvanshi opened #45 "Doesn't start hie in project root"
I am using this extension for a stack project. Autocomplete wasn't working so I started looking into it.

In the output window for the extension, I saw this

[code]

This is my home directory. Is this expected behaviour? I expected it to start HIE with the project root.

Now I think about it, HIE might have changed its default behaviour from picking up current directory as project to home director

[2018-02-12 14:14] LukaHorvat opened #46 "Command to restart hie"
Due to some reason (probably all the way down in the GHC API) pretty much every Haskell IDE tool consumes a ton of memory and the amount usually increases with use. I currently solve this by monitoring memory usage and restarting VS Code when I see it's taking up too much. The problem is that this kills terminal sessions in the editor.

I'd like to be able to restart just the hie backend.

[2018-02-13 09:11] AnthonyJacob opened #47 "Error flickering."
Errors, warnings, tips etc are not displayed, nor is anything written into output.

When I type a letter or save a file, i can see them for a millisecond. Thus when typing, I can see the errors flicker, but once I stop, they disappear again.

[2018-02-19 12:32] michalrus opened #48 "An option to specify path to HIE wrapper »per project«?"
It would be very useful for running HIE in context of a nix-shell for the project. :pray:

For example using a wrapper similar to: https://github.com/michalrus/kornel/blob/fd314f372e8316a9642f07b1ccf6793ed486b667/hie.sh — one which works very well with lsp-haskell in Emacs.

-------

It would also be very useful if we could just say *“use `hie.sh` in a dominating directory”*, meaning the first `hi

[2018-02-21 09:30] Tehnix commented on #36
@nponeccop I'll second that.

I think we can close this issue, since the original problem (mismatch between hie's GHC version and the project's) has been resolved. If you still have other issues, let's open some new specific issues for those :) (the current one being tracked in haskell/haskell-ide-engine#391)

[2018-02-21 09:30] #36 closed

[2018-02-21 11:36] Tehnix commented on #46
I'd very much like this too, but haven't been able to find anything in the VSCode LSP that would allow that. If anyone can point me to somewhere in the documentation where it says something about stopping and starting the server again, I'd be fine with giving it a stab :)

[2018-02-21 15:13] #48 closed

[2018-02-21 19:04] ndmitchell opened #50 "Support typescript-2.7.2"
Using the latest git, when I do `npm run compile` (which I believe `vsce package` does), I get the error:

[code]

I am using `tsc --version == 2.7.2` on Windows.

[2018-02-22 11:39] alanz opened #51 "Make sure that it is possible to start hie with logging"
Something seems to have changed, it not longer behaves the way I expect it to.

[2018-02-22 12:31] halhenke commented on #50
Yeah I just ran `npm run compile` this on OSX & I didnt get an error

however I do get the same error when I open that file in VSCode itself.
The difference being that VSCode currently uses typescript version 2.72 whereas we are locked to version 2.62. If I run `tsc -p ./` with 2.72 I get the same error

So we should update typescript dependencies to try & keep things in line though its not an urg

[2018-02-22 12:42] halhenke commented on #47
@AnthonyJacob Havent seen this personally - is it still happening? Only with this plugin?

[2018-02-22 13:14] ndmitchell commented on #50
Ah, I think I got an error message from `npm` which caused me to think typing `npm update` would help - which altered the lock file and broke everything. So it now works for me, and I'll adjust the ticket.

[2018-02-28 11:04] marmistrz opened #54 "Autocompletion doesn't work at all, with cabal-helper-wrapper related errors"
[code]
I installed `haskell-ide-engine-git` from AUR (Arch Linux). I can't find `cabal-helper-wrapper` anywhere in my FS.

Even if something went wrong in my setup, maybe vscode-hie-server could make a GUI warning that something went wrong?

[2018-02-28 15:08] alanz commented on #46
Simplest is just to kill the server, `vscode` is quite good at restarting if it disappears.

And we `do` get the process id back. Because having recently got this in emacs (https://github.com/emacs-lsp/lsp-mode/pull/290, for me anyway), I can testify to its usefulness.

[2018-02-28 15:12] alanz opened #55 "Multiple maintainers on the vscode app store"
At the moment I am the only one able to publish this package when it gets updated.

Does anyone know how we can add some other people too? I was thinking @Tehnix , @halhenke and @AlexeyRaga to start with, based on the contributors page.

[2018-02-28 15:15] alanz commented on #55
And it looks like I can add people with defined roles here https://marketplace.visualstudio.com/manage/publishers/alanz

[2018-02-28 21:24] Tehnix commented on #55
Alternatively we could, as I mentioned in https://github.com/alanz/vscode-hie-server/pull/28, set up travis to publish the extensions on either pushes to master branches or tags?

Adding people is also fine with me :)

[2018-03-01 08:26] alanz commented on #55
Maybe we should do both?

[2018-03-01 11:32] Tehnix commented on #55
I think you only need to do step 3. in the PR then,

3) Go to the travis page for the project at, https://travis-ci.org/alanz/vscode-hie-server
   a) Under `More Options` go into `Settings`
   b) Set a environment variable `VS_TOKEN` with the value of your VS Code personal token
   c) Make sure `Display value in build log` is turned OFF!

and then we cut a tagged release, which should initiate the

[2018-03-01 19:50] alanz commented on #55
@Tehnix

Ok, I agree on doing both.  I will get going on the travis side, can you give me whatever details I need to add you to the project?

[2018-03-01 19:57] alanz commented on #55
Stupid question, how do I get my hands on my `VS Code personal token`?

[2018-03-01 20:21] alanz commented on #55
@Tehnix I finally dug through the rabbit holes enough and created a token, attached to https://alan-zimm.visualstudio.com

I set it to be limited to markeplace and publish to marketplace, and made it an environment variable on travis.

Next step is yours.

[2018-03-01 22:23] Tehnix commented on #55
Not sure which would you need, but my publisher name is `tehnix` and my email `christianlaustsen@gmail.com`.

~~Currently there's an issue with it, if I remember correctly, the VS_TOKEN environment variable you set in travis needs to be with `"` around the value.~~ Nevermind, the env variable was called `VS_CODE`, fixed it in the script :)

To deploy to the marketplace, you now simply have to

1.

[2018-03-01 22:28] alanz commented on #55
I just got a mail from the marketplace saying 0.0.9 validated and was
published. Looks like.it works.

Will add the user in the morning.

On 02 Mar 2018 00:23, "Christian Kjær" <notifications@github.com> wrote:

[2018-03-06 13:22] LukaHorvat commented on #47
Happening for me as well

    run entered for HIE Version 0.1.0.0, Git revision 54338553f9c07b7d3427a769f7f4c2c366cefc7f (dirty) (1218 commits) x86_64 ghc-8.2.2

[2018-03-06 13:25] AnthonyJacob commented on #47
Yes and yes.

⁣

22. 2. 2018 1:42 PM, 1:42 PM, Hal Henke <notifications@github.com> napsal/a:

[2018-03-07 10:45] LukaHorvat commented on #47
Here's the log that probably points to the issue (at least in my case)

[code]

The requested file is `file:///c%3A/Users/darwi/Projects/simple-effects/src/Control/Effects/Async.hs` with a URL encoded colon (for whatever reason). HIE then correctly reports the issues with this file with a normal colon in the path but then again reports an empty list of issues for the original file path.

[2018-03-07 13:13] alanz commented on #47
This sounds like the windows path URI preservation has disappeared again on the hie side.

@wz1000, any ideas?

[2018-03-07 13:21] LukaHorvat commented on #47
Worth noting that hie integration in Atom still works for me. With the same hie executable.

[2018-03-13 08:36] marmistrz opened #56 "Test.Quickcheck not found even though installed"
Open the following file:
[code]
under Arch Linux. Then the following false positive is reported:

[code]
QuickCheck is installed
[code]

[2018-03-16 15:10] marmistrz opened #57 "A newline is added at each save"
This results in a huge amount of trailing newlines.

[2018-03-22 16:36] mgreenbe opened #58 "Warnings for non-exhaustive pattern matches?"
I've noticed that I'm not getting warnings for non-exhaustive pattern matches. Here's an example:
[code]
(The cases `(Minus, [])` and `(Divide, [])` aren't handled.)

Stack notices this when I build with the `--pedantic` flag:

[code]
Should the linter catch this?

Also, should I file this against a different repo, the linter or the HIE server itself?

[2018-03-22 17:42] ElvishJerricco commented on #58
I believe HIE will just use the GHC options in your cabal file. I recommend adding `-Wall` to your `ghc-options`.

[2018-03-23 02:00] mgreenbe commented on #58
@ElvishJerricco Worked, thanks! (Stack actually seemed happier with me putting it in the `package.yaml` file, but I'm sure that's specific to my setup.)

[2018-03-23 02:00] #58 closed

[2018-03-23 22:54] Yanpas opened #59 "HLint suggestions disappear"
hie --version
Version 0.1.0.0, Git revision f526f9761dff62990befaf94ea8a21443d7463a1 (1223 commits) x86_64 ghc-8.2.2

Windows 10

![vsc](https://user-images.githubusercontent.com/7345761/37856575-4781deb6-2f06-11e8-99b4-4fae7ddcaeea.gif)

[2018-03-24 08:03] AlexeyRaga commented on #59
I have also noticed some disappearances on HLint suggestions for imports.

[2018-04-01 08:49] otbe commented on #57
In addition to this I get sometimes a strange behavior on removing or adding some lines of code. For example: after insertign the type definition of a function via command it adds the function definition with each save action. Its not always the case.

Maybe this is related to this...

[2018-04-01 08:53] otbe opened #61 "Applying HLint Suggestions does not work at all"
Hi,

I saw #33 but in my case applying hlint suggestions does not work at all.
![kapture 2018-04-01 at 10 39 54](https://user-images.githubusercontent.com/3391052/38171468-9c306a3c-359a-11e8-96da-2863cc7511e7.gif)
And this is the output (note the Nothing for _documentChanges)
<img width="891" alt="bildschirmfoto 2018-04-01 um 10 45 43" src="https://user-images.githubusercontent.com/3391052/3817147

[2018-04-05 12:56] sharno opened #62 "HIE seems to be not working although the logs says it's working"
I just installed HIE by cloning its repo and stack install it. I also put the path for starting HIE in the custom wrapper settings:
[code]

Opening a Haskell file shows in the output in VSCode that HIE started:
[code]

But all I get in VSCode is just syntax highlighting (from Haskell Syntax Highlighting extension) but nothing from Haskell Language Server extension, (no types on hover or autocomple

[2018-04-05 17:05] Tehnix commented on #62
Some questions that might help debugging this:

- In the `Output` tab, do you see a `Haskell HIE (..)` in the dropdown?
- What is the contents of your wrapper at `"~/.local/bin/hie"`?
- If you, via the command palette (`CMD + SHIFT + p`) open `Developer: Toggle Developer Tools`, do you see any meaningful output?

[2018-04-05 17:12] sharno commented on #62
@Tehnix
- yeah, the output actually shows only in this choice from the dropdown
- this is actually the binary of hie directly, as it installed there and this path isn't in my PATH environment variable, changing the path seemed not to work as I'm using Fish and the extension didn't see the PATH change so I thought putting the path HIE binary in the wrapper should work (hope that's not the issue)
-

[2018-04-05 18:36] Tehnix commented on #62
Ah, then I see your problem. HIE needs to be started with arguments, but if you use the custom wrapper, it leaves everything to the user.

I often use this one,

[code]

Which for stack based project finds the one I installed (and some additional logging). To tailor it to you, the following should work,

[code]

Basically, for the custom wrapper, you need to supply at least `--lsp` in whatever scr

[2018-04-05 18:44] sharno commented on #62
@Tehnix Oh I would deeply appreciate that. Thanks a lot for bearing with me and adding such an option 😄

[2018-04-05 19:13] #62 closed

[2018-04-05 19:25] sharno commented on #62
That was fast 😄 . Thanks a lot!

[2018-04-08 12:32] Tehnix opened #65 "Issues with multiple servers after upgrading languageclient to 4.1.3"
Currently tracked in https://github.com/Microsoft/vscode-languageserver-node/issues/333.

After upgrading vscode-languageclient from 3.5.0 to 4.1.3, we are having problems with multiple spawned language servers, which is needed for multi-root support. I want to note that this works in 3.5.0, and some breaking change was introduced (or errors were made non-silent) in 4.x.

The error comes from hie

[2018-04-08 13:14] Tehnix commented on #1
Closing to clean up stale issues.

[2018-04-08 13:14] #1 closed

[2018-04-08 13:31] Tehnix commented on #51
Do you mean adding a setting to enable debugging?

[2018-04-08 13:48] #50 closed

[2018-04-08 13:51] Tehnix commented on #45
The extension sets the root folder as the workspaceFolder, so this should not happen anymore. We can reopen this issue if you are still experiencing problems :)

[2018-04-08 13:51] #45 closed

[2018-04-08 14:02] #44 closed

[2018-04-08 14:04] Tehnix commented on #43
The test dependencies need to be built after adding them. It should by default pick both, else I would open a ticket on [haskell-ide-engine](https://github.com/haskell/haskell-ide-engine).

Closing this to clean up, let me know if it should be reopened.

[2018-04-08 14:04] #43 closed

[2018-04-08 14:10] Tehnix commented on #42
To generate the local hoogle database, check out https://github.com/haskell/haskell-ide-engine#docs-on-hovercompletion. Specifically I think you need to run,

[code]

Let me know if this doesn't resolve your problem, and I'll reopen this issue.

[2018-04-08 14:10] #42 closed

[2018-04-08 14:15] Tehnix commented on #16
I don't think this is an issue with this extension, but something is wrong in the way the extension got installed perhaps? VSCode should handle all node modules that needs installed.

I'm closing this, but let me know if you're still having the problem, and then we can reopen it.

[2018-04-08 14:15] #16 closed

[2018-04-08 14:17] Tehnix commented on #15
I think this plugin should do what you want https://marketplace.visualstudio.com/items?itemName=siegebell.prettify-symbols-mode :)

Let me know if not, and we can figure out where it might be appropriate to do this at.

[2018-04-08 14:17] #15 closed

[2018-04-09 08:01] Tehnix commented on #39
Hmm, I currently know of no API that sets this, but I could imagine it should happen from the LanguageClient side (as in, don't send the edit events).

I'll try to look into it. Do you by chance know any existing extensions that does this? Then I could dig around, to see how they are doing it :)

[2018-04-14 12:29] MuratOzsoyler opened #68 "Cannot read property 'document' of undefined"
Windows 10
VCode 1.22.2
Haskell Language Server 0.0.15
Haskell Syntax Highlighting 2.4.0

Stack (version 1.6.5) project, resolver: nightly-2018-04-09.

When opened with no editor tabs, in Developer Tools console:
[code]

After a Haskell source opened this message appears:
[code]

No lint, no suggestions, no intellisense.

I feel this may be due to the version of GHC (8.4.1). If so, can we solve th

[2018-04-15 16:10] Tehnix commented on #68
I think this is actually a problem in VSCode after support for multi-root workspaces were added. I'll look into it.

[2018-04-15 18:31] MuratOzsoyler commented on #68
Thank you for responding. I should mention that the project is not multi-root.

[2018-04-17 18:08] MuratOzsoyler commented on #68
@Tehnix Thank you for your effort.

I've just tried the new version. This time there is no error messages. But still no intellisense and no suggestions. Just `Loading...` indicator...

In the first load hlint works for once but if you solve the indicated error or introduce new errors, messages do not change till the next re-start.

[2018-04-17 18:39] Tehnix commented on #68
Do you get any output in the output tab when selecting `Haskell HIE (...)`?

[2018-04-17 19:48] MuratOzsoyler commented on #68
There is not an option for `Haskell HIE`. But when I select `Log (Extension host)` following lines are at the bottom of the log:
[code]

[2018-04-17 19:59] MuratOzsoyler commented on #68
I've just set `"languageServerHaskell.trace.server": "verbose"` but can't recognize where to see the trace. Nothing changed in `OUTPUT` tab.

[2018-04-18 16:12] YoEight opened #69 "HIE stops working when doing a `stack build` OSX"
Greetings,

First, I'm very sorry for not being able to come up with a more descriptive title, but it is what I'm experiencing.

HIE is working (all the types information and hoogle documentation) but for an unknown reason, after some time, it stops and keeps displaying `Loading` message when I'm hovering a symbol. That behavior persists even when I restart VS Code, or Uninstall / Install HIE.

It

[2018-04-18 16:25] YoEight commented on #69
I found why it does no longer working. HIE stops working when I do a `stack build` in my project directory. In order to bring HIE back. I have to `stack hoogle` in my project directory and then restart VS Code. I'm editing the title accordingly.

[2018-04-19 13:13] YoEight commented on #69
Note that HIE stops to work also when you edit your `stack.yaml` file. To set it back, quit VS Code, `stack hoogle` in your project, launch VS Code and everything is working again.

[2018-04-19 23:12] AlexeyRaga commented on #69
Strange, I work on OSX and change my `stack.yaml` very often and I haven't seen this problem yet.
Which resolver do you use?

[2018-04-20 07:25] YoEight commented on #69
Is there a way to provide you some application log? Will probably more helpful that lame description of the problem 😄

[2018-04-21 01:09] sheyll commented on #59
Have the same, with ghcmod warnings.

[2018-04-24 15:34] txsmith commented on #20
It seems like this is a problem with the way vs code sends 'apply quick fix' commands over LSP.
The message received by the HIE server does not contain any info about which fix was applied.
For example, if I have a file with the following on line 6, and apply any of the two possible fixes, this is the corresponding message sent:

[code]

[code]

I'm not yet sure where in the extension code this co

[2018-04-25 02:49] AlexeyRaga commented on #20
I have been lazily investigating this issue here: https://github.com/haskell/haskell-ide-engine/issues/533

[2018-04-25 11:08] txsmith commented on #20
I've seen that :)
Thought I'd post here since I the issue seems to originate from the way vs code sends 'quick fix' messages to HIE. The extension should send which fix was chosen from the list. Right now this is not the case so HIE has no clue which hlint issue you selected to fix.

So the root of this issue is that the vs code extension does not send enough information to HIE. I think we'd need

[2018-04-26 16:36] letmaik opened #72 "Add --recurse-submodules in README during HIE cloning"
HIE uses submodules and by default git doesn't clone them. This then leads to errors if doing a `stack install` straight afterwards. The fix is:
[code]

[2018-04-30 22:56] johnsonwj commented on #47
This is caused by an issue in `haskell-lsp` - [fix is here](https://github.com/alanz/haskell-lsp/pull/76)

[2018-04-30 22:58] johnsonwj commented on #59
I believe that both this and #47 are caused by [an issue in `haskell-lsp`](https://github.com/alanz/haskell-lsp/issues/75), which has [a fix here](https://github.com/alanz/haskell-lsp/pull/76)

[2018-04-30 23:03] johnsonwj opened #73 "Windows - %TEMP% variable is not dereferenced"
HIE crashes when attempting to run it when `hieExecutablePath` is set on Windows. `debugArgs` uses `%PATH%`, but this environment variable is not substituted when the command is actually run, so that HIE cannot actually find the log file directory.

[2018-05-01 17:17] alanz opened #75 "HIE reports garbled source"
I am opening this issue as a transfer of https://github.com/haskell/haskell-ide-engine/issues/538

The extra characters are not displayed in vscode, but do appear in LSP messages.

[2018-05-01 17:32] alanz opened #76 "Security vulnerability"
According to https://github.com/alanz/vscode-hie-server/network/dependencies, we have a problem with
hapijs/hoek in our packag-lock.json.

https://nvd.nist.gov/vuln/detail/CVE-2018-3728

[2018-05-01 17:36] #73 closed

[2018-05-01 20:50] nickolay opened #77 ""languageServerHaskell.trace.server": "verbose" setting does not seem to work"
As I understand, adding `"languageServerHaskell.trace.server": "verbose"` to the user settings in VSCode is supposed to make a new drop-down option available in the `View -> Output` pane, which displays the communication happening between VSCode and the `hie` server.

However it appears broken: the option doesn't appear for me. (*update:* it also may appear, but only say `"Using hoogle db at: /Use

[2018-05-02 11:51] nickolay commented on #61
hlint itself doesn't support refactorings for the "Eta reduce" warning (https://github.com/ndmitchell/hlint/issues/253).

What I think https://github.com/haskell/haskell-ide-engine could do is not suggest unsupported refactorings in reply to the `codeAction` request.

(Some background: https://github.com/Microsoft/language-server-protocol/issues/394, [codeAction specification](https://microsoft.gi

[2018-05-02 12:05] AlexeyRaga commented on #61
I guess that we could either filter this diagnostic out on HIE side or maybe it would be possible to supply hlint config to suppress this suggestion...

project-local  `.hlint.yaml` with something like `- ignore: {name: Eta reduce}`  could be used as a workaround.

[2018-05-02 14:12] o1lo01ol1o opened #78 "usage in a nix project?"
There are some notes in the documentation about using the hie wrappers to get support in nix projects, is this possible?

I've currently installed `hie-nix` into my project environment (I can run the hie sever from my `nix-shell`) and I have the following wrappers in my vscode configuration.

[code]

where `backend/hie.sh` is:

[code]

But it looks like this doesn't work for `vscode-hie-server`

[

[2018-05-03 08:33] cideM opened #79 "Add option to disable `brittany`"
This extension is extremely nice and works perfectly out of the box, with one small issue, which is a matter of preference and not a bug. `brittany` works, but it seems extremely tame and mostly leaves my code unchanged. As a front end developer by day, I am used to the luxury of `prettier`, which parses the code into an AST and the reformats it aggressively. The closest thing in Haskell land appe

[2018-05-03 15:13] cideM commented on #79
I just ran the setup once more
[code]
and it seemd to use `brittany` 0.11 which appears to be the most recent version, but it still doesn't reformat `data`. Regardless, the point about being able to disable it still stands. I did actually check to see if I could just create a PR myself but to be honest I couldn't even figure out when or where the call to format document even happens. It doesn't re

[2018-05-07 09:33] Znack opened #80 "Type errors are shown only from /var/private, but not in source file"
When I do some type errors in source file in VSCode, those are not shown in the Editor, although I can see its in Problems pane:
![image](https://user-images.githubusercontent.com/2928964/39695168-e2b60558-5213-11e8-9cc5-10eb0e9604bc.png)

Please notice I have named not existing function `tableWithSelectors1SHOULDWARNHERE` although there is no warn in Editor, but I can see a lot of files from `/va

[2018-05-07 18:04] #61 closed

[2018-05-08 09:16] Tehnix commented on #78
Hmm, as long as VSCode can interact with the process via stdin/stdout, it should technically work 🤔

[2018-05-08 12:13] OnlyMyRailgun commented on #80
The same problem!!!

[2018-05-08 14:49] marianban commented on #69
I had a similar issue on OSX with displaying `Loading` message when hovering a symbol. What worked for me was to use a hie wrapper `"languageServerHaskell.useHieWrapper": true`

[2018-05-08 14:59] Tehnix commented on #69
This would indicate to me that the hie it catches on the system is built with a different GHC version than the one you are using. The [HIE wrapper](https://github.com/alanz/vscode-hie-server/blob/master/hie-wrapper.sh#L29) will try its best to find the right executable (i.e. if it detects GHC version 8.2.2, it'll look for a `hie-8.2.2`, falling back on `hie-8.2` and finally just plain `hie`).

Thi

[2018-05-08 15:58] nrskt commented on #80
@Znack @OnlyMyRailgun

This problem may be similar to this problem.
(https://github.com/haskell/haskell-ide-engine/issues/551)

If you can provide a debug log as in this https://github.com/haskell/haskell-ide-engine/issues/551#issuecomment-387434187, it may lead to problem solving.

[2018-05-09 05:51] Znack commented on #80
@nrskt @OnlyMyRailgun Yesterday I have tried `af5f4fae784c32c541f91982a9f37848f3367b25` and it also works

[2018-05-09 08:26] Znack commented on #80
I can confirm that everything works great in the last master, thank you very much for a such quick reply and fix :)

[2018-05-09 08:26] #80 closed

[2018-05-16 02:55] AurevoirXavier opened #81 "hlint and ghc-mod doesn't work correctly"
It always 'flash'.

![](https://i.imgur.com/veWsuSn.gif)

[2018-05-19 10:26] alanz commented on #78
I think you should ask this in the nix support zone, I am sure there are some people using it, but have no idea how.

[2018-05-19 11:08] #65 closed

[2018-05-23 19:14] mpilgrem opened #84 "Windows 10, VS Code: HIE server crashes - spaces in path not handled properly?"
As noted in https://github.com/haskell/haskell-ide-engine/issues/565, HIE/Haskell Language Server (HLS) does not work with VS Code if `hie.exe` is on the `PATH` but on a path with a space in it. It fails on startup with the following 'notification' message ('HelloWorld' is the name of the test Haskell project, created with stack new HelloWorld):
[code]
and messages in 'OUTPUT' ('Haskell HIE (Hello

[2018-05-23 20:27] alanz opened #85 "code Actions do not seem to work"
Opening a file with

[code]

Presents a code action to `Evaluate: found id 3, why not 3`.

Clicking on the lighbulb and then the presented action does nothing.

Note: The corresponding hint is applied correctly in emacs using `emacs-lsp`, so I am pretty sure it is a client-side problem.

cc @Bubba

[2018-05-24 04:24] Imfractical opened #86 "Extension isn't starting"
On Windows 10 with VSCode 1.23.1, and GHC 8.4.2. Installed HIE with stack; `hie` works, but the extension doesn't load when I open up a Haskell file. There's no output window or anything in the developer console. Trying to do a command from the pallet gives, e.g. "command 'hie.commands.showType' not found". I'm really stumped here, any help?

[2018-05-24 09:27] #85 closed

[2018-06-01 13:55] AlexeyRaga commented on #59
Unfortunately yes :(
I am using HIE `90a4daf4537c03bd1acc00b32530aec015aa6065` unless something has changed since then I can still reproduce the issue.

I will check with the very latest version later.

[2018-06-01 14:17] AlexeyRaga commented on #59
All I do here is changing a line and hitting CMD+S (Save):
![hlint-import-disappear](https://user-images.githubusercontent.com/1394391/40845495-32e80946-65fa-11e8-926e-296819256d6b.gif)

[2018-06-01 15:10] alanz commented on #59
Can you put a gist up with the log from doing that?

[2018-06-01 18:30] CaptJakk opened #87 "How do you specify to the extension where the hoogle db is?"

[2018-06-01 18:32] CaptJakk opened #88 "Repeated popup saying cannot satisfy package-id aeson"
[code]

I can't seem to figure out why it's unhappy, I did a full stack build of the project.

[2018-06-02 03:01] AlexeyRaga commented on #59
Here is the log  that I have:
[code]

The last `publishDiagnostics` only has that redundant `TupleSections` hint:
[code]

[2018-06-02 18:11] alanz commented on #88
I suspect that the GHC in your project does not match the one in the hie you are using.

Take a look at the first line of `/tmp/hie.log`, it should report the version of GHC it is using. And make sure it matches the one your project is built with.

[2018-06-02 19:33] runeksvendsen commented on #88
I was getting the same error, and can confirm that switching GHC for my project to match the output of `hie --compiler` fixed the issue.

[2018-06-03 11:53] alanz commented on #59
@AlexeyRaga can you try with https://github.com/haskell/haskell-ide-engine/pull/615, and see if anything changes?

[2018-06-03 15:24] runeksvendsen opened #89 "GHC 8.4.2: "Got error while processing diagnostics: unable to load package `integer-gmp-1.0.2.0'""
I'm getting the error below when I try to view `src/Paths.hs` in VS Code from the following repo/branch: https://github.com/runeksvendsen/crypto-venues/tree/graph

`Got error while processing diagnostics: unable to load package 'integer-gmp-1.0.2.0'`

I'm using the Stack resolver `nightly-2018-05-30` (GHC 8.4.2), which matches the output of `hie --compiler`.

[2018-06-03 19:42] alanz commented on #89
Is this on macos? I think there is issue around integer-gmp on that platform and/or windows

Does the project build outside of hie?

[2018-06-04 08:31] AlexeyRaga commented on #59
@alanz https://github.com/haskell/haskell-ide-engine/pull/615 looks much better, thanks.
Warnings do not seem to disappear anymore.

[2018-06-04 14:03] alanz opened #90 "On windows, cannot start hie unless languageServerHaskell.trace.server is set"
The default ("off") value inserts an option set of `['']`, which works on linux but not windows.

Help requested from typescripters, that should be `[]`, but ts complains about not knowing the type. How do I cast it?

[2018-06-04 14:30] runeksvendsen commented on #89
Oh, yes, I forgot to mention I'm on MacOS.

The aforementioned repo/branch (https://github.com/runeksvendsen/crypto-venues/tree/graph) does not build, but I've tried out-commenting the errors in `src/Paths.hs`, so that the project builds, and I still get the `integer-gmp`-related error.

[2018-06-04 15:40] Tehnix commented on #89
I *think* the issue with integer-gmp was fixed in 8.4.3, but I’m not entirely sure. Would you be able to test against a resolver with that GHC version?

[2018-06-04 19:54] runeksvendsen commented on #89
@Tehnix How do I build `hie` with GHC 8.4.3 inside?

I tried changing Stack resolver for my project to `nightly-2018-06-02`, but now I get an error from ghc-mod:

[code]

which, I assume, is related to the mismatch between `hie`s compiler (ghc-8.4.2) and what's now used by my project.

[2018-06-04 19:57] Tehnix commented on #90
Ah, if you do `let debugArgs: string[] = [];`, it should be okay :) Unfortunately, typescripts inference is not that strong yet.

[2018-06-04 20:01] alanz commented on #89
hie current master does support GHC 8.4.3, if you install it via the makefile, and update the vscode plugin to 0.0.18 (which has a bug for windows, must turn tracing to verbose else hie wont start, #90 )

[2018-06-04 20:14] #90 closed

[2018-06-05 16:44] runeksvendsen commented on #89
I updated `hie` to current master and built `hie-8.4.3` (`hie --compiler` now says `ghc-8.4.3`), but unfortunately VS Code still gives me the error `Got error while processing diagnostics: unable to load package 'integer-gmp-1.0.2.0'` using `vscode-hie-server` version 0.0.19.

[2018-06-12 05:20] ceilican opened #91 ""Got error while processing diagnostics: <command line>: cannot satisfy -package-id ...""
I have been trying to set up an IDE for Haskell in my Mac and Visual Studio Code with the Haskell Language Server extension is the one for which I came closest to success so far, but I get the following error:

[code]

All these dependencies are listed in my cabal file:

<img width="659" alt="screen shot 2018-06-12 at 08 19 12" src="https://user-images.githubusercontent.com/1809436/41271446-5d57b9

[2018-06-15 15:18] #87 closed

[2018-06-15 15:18] CaptJakk commented on #88
That did the trick. Thanks.

[2018-06-15 15:18] #88 closed

[2018-06-18 20:12] CaptJakk opened #92 "command 'applyrefact:applyOne' already exists"
on a fresh open of a project I get the error above. Any idea what might cause that? Any other information you would need. It's tough to put together a solid repro report, but I'd be willing to work to get any additional info. I just don't know what that error means.

[2018-06-18 22:12] Bubba commented on #89
This is caused by a known issue with GHC, in the meantime try the workaround here: https://github.com/haskell/haskell-ide-engine/issues/562

[2018-06-20 11:01] alanz commented on #92
It should be fixed with current hie master, fixed by https://github.com/haskell/haskell-ide-engine/pull/629 and https://github.com/haskell/haskell-ide-engine/pull/632

[2018-06-20 11:06] alanz commented on #91
This usually happens when the hie GHC version does not match the project GHC version.

Make sure you are using the wrapper to start the project.

[2018-06-20 13:04] CaptJakk commented on #92
So no need to upgrade the extension, just the backend?

[2018-06-20 13:16] alanz commented on #92
yes

[2018-06-20 13:22] ceilican commented on #91
Yes.

I managed to solve the problem by using `stack install` with `stack-8.2.2.yaml` instead of the default `stack.yaml`.

As far as I know, GHC 8.2.2 is currently the latest stable version that is widely distributed. I think it would be more appropriate to let `stack.yaml` fetch from stable `lts` resolver, instead of the `nightly`. (It would have saved me a lot of time.)

Right now, following th

[2018-06-20 13:22] #91 closed

[2018-06-27 18:55] runeksvendsen commented on #89
@Bubba which workaround are you referring to?

[2018-06-27 19:03] Bubba commented on #89
@runeksvendsen The workaround I used was renaming `/Users/luke/.stack/programs/x86_64-osx/ghc-8.4.3/lib/ghc-8.4.3/integer-gmp-1.0.2.0/HSinteger-gmp-1.0.2.0.o` to some other random file

[2018-06-28 07:00] runeksvendsen commented on #89
Thank you @Bubba! That got rid of the error.

Feel free to close this issue if you feel like it (not sure whether or not I should close it, given that a workaround is required).

[2018-07-01 07:45] tristangreeno commented on #86
I have the exact same problem on Windows 10.

[2018-07-03 00:17] Rhywun opened #95 "Applying fixes doesn't do anything"
Steps to reproduce:

1. Enter the following in a Haskell file:

[code]

2. Hover over the first [
3. A message pops up reading "[hlint] Use String Found: [Char] Why not: String"
4. A lightbulb appears. Hover over it and a choice reads "Apply hint:Use String"
5. Click the choice.
6. Nothing happens.

Expected result: [Char] to be replaced with String

Same occurs with any suggested fix.

Haskell La

[2018-07-04 11:14] simonchatts commented on #79
I would also appreciate such an option, but for the opposite reason: I find brittany a bit aggressive in reformatting (I personally prefer stylish-haskell). eg I've failed to persuade brittany to avoid reformatting
[code]
into
[code]
There may well be a workaround for this case, but in general, it would be a shame if an unnecessary tight coupling here was a (bad) reason not to adopt hie. "A partic

[2018-07-04 11:38] wz1000 commented on #79
@simonchatts I'm confused. HIE doesn't force you to format your code, it just exposes LSP requests that allow you to do that. If your code is being automatically formatted, it probably has something to do with your client.

As far as I know, HIE never automatically formats your code without receiving a request from the client.

[2018-07-04 11:49] simonchatts commented on #79
@wz1000 Is there a configuration option that prevents vscode-hie-server sending formatting requests to HIE?

[2018-07-05 00:15] Rhywun commented on #79
@wz1000 I think the issue is that the OP (and I) would like the option to use a different formatter. I.e. disable brittany, install a different one and use that.

@ElvishJerricco The latest version of brittany does not seem to touch data declarations. This is mentioned in the readme too.

[2018-07-06 17:06] supermari0 commented on #86
I have this problem as well.

If it helps, I see this in the output window under the extension host log:

[code]

However, I see nothing in the extension log itself. I also cannot find an hie.log file anywhere on the computer.

[2018-07-07 20:54] mpilgrem opened #97 "Windows 10, VS Code, useHieWrapper setting not honoured"
As described at https://github.com/haskell/haskell-ide-engine/issues/670:

The documented user setting `"languageServerHaskell.useHieWrapper": true,` is not honoured, but

[code]
is a work-around.

[2018-07-13 06:42] alanz commented on #84
The new `0.0.20` vscode release uses the `hie-wrapper` executable, supplied by hie itself.

[2018-07-13 10:00] adicirstei commented on #97
👍

[2018-07-13 11:46] Rhywun commented on #84
OK, I remade hie (to version 0.2.1.0) and now I have an `hie-wrapper` executable.
Getting different errors now, this x5:

[code]

Which makes sense since I don't have a `ghc` executable installed. Only stack.

[2018-07-14 18:15] mpilgrem opened #98 "`Import identifier` sometimes inserts in the wrong place"
If there are no existing `import` lines in the module, the command `Haskell: Import identifier` inserts `import ...` directly after the line `module ...` and not after the `where` line.

For example (based on a simple test `stack new test` project, selecting the `IO` identifier and picking `base System.IO -- data IO a` from the options provided by the command)
[code]
becomes:
[code]
rather than (s

[2018-07-14 19:32] mpilgrem commented on #98
A little knowledge is a dangerous thing, but I wonder if line 45 of `importIdentifier.ts` should not be:
[code]
but something like:
[code]

[2018-07-14 20:26] Ciantic opened #99 "Support WSL for Windows"
HIE, Stack etc. compiles absolutely perfectly from a Windows Subsystem for Linux e.g. the Ubuntu.

I have come to conclusion that majority of Haskell tools will *never* support Windows adequately, the Stack for instance usually just gives weird errors with some libraries etc. Instead in WSL the Stack, HIE etc. compiles with the Linux instructions and works perfectly.

I have tried to make vscode-h

[2018-07-14 23:49] Rhywun commented on #95
Update:

I have since updated to the latest HIE v 0.2.1.0, and to v 0.0.20 of this plugin and I have tried several suggested fixes including the one above and all are working now!  Thanks & I will close this issue.

[2018-07-14 23:49] #95 closed

[2018-07-16 15:43] cblp opened #101 "Show an error if useCustomHieWrapper is true and useCustomHieWrapperPath is not set"
[code]

[2018-07-20 11:38] #98 closed

[2018-08-12 08:36] alanz commented on #97
As of version 0.0.21 the hie-wrapper is always used, on all platforms, so the `languageServerHaskell.useHieWrapper` setting is no longer present nor needed.

[2018-08-15 13:32] paul-snively opened #105 "Current vscode-hie-wrapper fails on macOS, probably due to GUI $PATH not being set like shell $PATH"
I'm working with [fp-course](https://github.com/data61/fp-course), and have HIE checked out and built from source as of yesterday. When I try to use HIE with this project, I get the popup:

This is probably because, having built HIE from source on the master branch with stack, everything is in `~/.local/bin`, which is in my shell's $PATH thanks to a file, `/etc/paths.d/local`, containing `/Users/p

[2018-08-15 16:06] Rhywun commented on #105
I have the same issue with latest HIE. Also on Mac (10.13.6).

Additionally, I see messages like this:

[code]

Repeated for all dependencies.

Same code base was working fine under previous HIE.

[2018-08-15 19:35] paul-snively commented on #105
The transition from `hie-wrapper.sh` to `hie-wrapper` (binary) is almost certainly the culprit: the former would have its `$PATH` set by launching a shell; the latter doesn't (on macOS).

[2018-08-15 22:47] Rhywun commented on #105
Just figured out a fix by adding this to VSCode's user settings:

[code]

Seems to work.

[2018-08-15 22:51] AlexeyRaga commented on #105
I had the same issue. I think it is due to VSCode plugin being not up to
date with the make file in HIE, or a bug in the plugin

Manual fix (that worked for me): cp ~/.local/bin/hie-wrapper
~/.local/bin/hie

Explanation (to my understanding): VSCode plugin has deprecated the wrapper
shell script, so now it always calls to hie and not to hie-wrapper.
Since hie-wrapper is capable of figuring out whi

[2018-08-16 01:03] nponeccop commented on #105
Apparently https://github.com/haskell/haskell-ide-engine/issues/748 is the same issue

[2018-08-16 01:32] kgtkr opened #106 "Crash when opening certain files"
# log

[code]

# code

[code]

[code]

# version
[code]

[code]

[code]

[2018-08-16 07:49] nwolverson commented on #97
Same issue as @mpilgrem , `languageServerHaskell.useHieWrapper` setting is gone but I see a message

[code]

Adding the `"languageServerHaskell.hieExecutablePath": "hie-wrapper"` line and things work again.

[2018-08-18 18:48] pascalpoizat opened #107 "two kinds of hlint feedback ?"
Hello

it seems there can be two kinds of hlint feedback (see figure).

<img width="1440" alt="capture d ecran 2018-08-18 a 21 35 26" src="https://user-images.githubusercontent.com/6471971/44302320-ab25bb80-a32e-11e8-89d5-b48dcb96a183.png">

- one presented with three dots, that does not appear in the footer information (with number of errors, warnings, infos), but that supports apply refact using

[2018-08-19 11:30] pascalpoizat opened #108 "GHC Panic"
Hello

I have an issue that seems related to TemplateHaskell (not sure).

I am using https://github.com/haskell/haskell-ide-engine (0.2.1.0) + the https://github.com/alanz/vscode-hie-server plugin for VSC (0.0.21). I work on a stack generated project (using stack new, stack GHCI 8.4.3).

This is how the error comes.

1- type in the code (below) with the TemplateHaskell commented out : OK
2- uncomm

[2018-08-21 08:10] adamschoenemann opened #109 "haskell-lsp gets wrong cwd"
Thanks for writing this engine! I'm trying to use haskell-ide-engine along with vscode-hie-server and multiroot workspaces but I'm running into some issues.

I have a large repository containing several Haskell projects and many projects in different languages, so I don't want to just open all folders in a single workspace. I have a `stack.yaml` inhaskell-lsp gets wrong cwd the root and stack will

[2018-08-21 11:37] pascalpoizat commented on #108
This problem is known. Thanks to @lorenzo for giving the solution to me.
The solution was there : https://github.com/haskell/haskell-ide-engine#troubleshooting

[code]

[2018-08-21 11:37] #108 closed

[2018-08-21 13:03] adamschoenemann commented on #109
Sort of. It's kind of like this:
[code]
I don't want one huge workspace with all the sub-projects (in reality there are quite a few!), so I created an empty workspace and used "Add folder to workspace" to add `hask-project-2`.
But doing this naively will start `hie-wrapper` in `my-big-project/hask-project-1` where it'll then attempt to use a global ghc installation since it cant pick up the stack.

[2018-08-22 02:56] newhoggy commented on #105
I did this, which might be better than copying:

[code]

[2018-08-25 01:43] Rhywun opened #110 "Run outside a project?"
Is it possible to run the plugin/HIE outside of a project? I.e. just open up a single .hs file and it "works"? This worked in the last versions but not any more, I can only get it to work when I create a new stack project. I saw in the readme that a "plain GHC" project is supported but I can't find anywhere what that is.  Thanks

[code]

[2018-08-31 04:06] newhoggy commented on #79
I've found recently that the code formatter is running despite options turning it off:

[code]

[2018-09-05 09:36] kfigiela opened #111 "Multiple instances of HIE run for single project"
VSCode is starting multiple instances of HIE for the same project. Since each instance consumes a lots of memory as discussed in https://github.com/haskell/haskell-ide-engine/issues/412 this becomes a problem. Also, duplicated list of symbols appear on newly introduced breadcrumbs causing additional inconvenience.

@dktn noticed that the number of instances that are started depends on number of ed

[2018-09-05 15:20] alanz commented on #111
Ok, so it sounds like the extension is not properly working out the project root.
It *is* supposed to launch a separate instance for each sub-project though.

[2018-09-05 15:29] alanz commented on #110
It is supposed to be able to work like that.

Can you provide me an example where it does not?

[2018-09-05 15:32] alanz commented on #110
for me, if I do

[code]
and then open code on it, if gives me a warning about a missing signature.

[2018-09-05 15:34] alanz commented on #109
Multi-root workspaces are a new thing in vscode, and not properly supported in hie at the moment.

And if anyone cares deeply about them, I suggest they make a PR on hie, I personally think they are an anti-pattern.

[2018-09-05 15:41] kfigiela commented on #111
Sure, I'd expect to have separate HIE for each project. This not the case however, this is the only Haskell project in my workspace.

Regarding that list of tasks, it's that dropdown
![image](https://user-images.githubusercontent.com/174118/45104689-ebf54100-b132-11e8-9b3a-4cde89eda7ae.png)

[2018-09-05 15:59] Rhywun commented on #110
When I do that I get a pop-up that reads "The Haskell HIE (foo) server crashed 5 times in the last 3 minutes. The server will not be restarted." and the following appears in the Output window. I think I see a problem in that I don't have a separate `ghc` installed? I only use it via `stack`. And you know what, I may have had `ghc` installed separately in the past before I blew everything out and s

[2018-09-05 15:59] alanz commented on #111
I actually suspect this may be a vscode issue. But will take a look.

[2018-09-05 16:05] adamschoenemann commented on #109
Maybe the real problem is that hie or hie-helper should properly pick up the `stack.yaml` for parent directories, so it can be started in whatever "nested" workspace and still pick up the fact that it's a stack project? In that case, this issue can be closed and we can open a new one in hie. However, `lsp-haskell` would also need to be passed the correct parent directory from this plugin...

For n

[2018-09-05 17:49] alanz commented on #110
Yes, running a bare file has to assume there *is* a ghc in the path.

[2018-09-05 17:49] alanz commented on #110
But I guess we should properly report if this is not the case.

[2018-09-05 17:55] alanz commented on #109
So at the top level you have a stack.yaml which lists the sub-projects as dependencies?

We have that in hie itself, and it results in a hie instance per sub-project. This is the level that the compilation information is made available, we can't stitch together a mega thing with all the sub projects in one.

This is similar to trying to load them all into ghci, we have the same constraints.

[2018-09-05 18:18] alanz commented on #107
If I pull bits out of the hie log, and format them via `jq`, we get diagnostics

[code]
The "redundant $" diagnostic is priority 4, and the "Eta reduce" is priority 3.

According to https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#diagnostic

[code]

[2018-09-05 18:35] adamschoenemann commented on #109
Hmm, maybe I'm misunderstanding something, but if I run `hie` or `hie-wrapper` in any of the subdirectories (each have a separate .cabal file) it'll try to use the global installation of ghc (which I don't have). The root directory has a `stack.yaml` which lists the sub-projects in `packages`.

[2018-09-05 18:36] alanz commented on #109
To have it work as you expect put a `stack.yaml` in each sub-project, specifying the resolver version at a minimum.

[2018-09-05 18:43] adamschoenemann commented on #109
Hmm ok. Stack picks up the `stack.yaml` in the parent directory from any subdirectory, so I guess that's why I expected the same behaviour from `hie`. I'll try to work around it somehow. Thanks for your help!

[2018-09-05 18:43] #109 closed

[2018-09-06 12:04] justjoheinz opened #112 "README and hie-wrapper"
I believe this section is out of date or misguiding:
https://github.com/alanz/vscode-hie-server#hie-wrapper

It seems that the setting has been removed entirely and at least there are issues concerning the use on Mac OS X which report that this setting is no longer supported.

See #105

I would submit a PR but I am currently clueless what the desired installation should be.

[2018-09-06 13:33] alanz commented on #112
Updated via https://github.com/alanz/vscode-hie-server/commit/a551c65e41758c59e564cfc5c0352d8c7afa4c5b

Is this clearer now?

[2018-09-08 18:14] lorenzo commented on #111
This is how to reproduce:

* open the project
* open 2 or 3 `.hs` files
* close vscode
* open it again and verify in the process list that at least 2 hie were started

[2018-09-10 09:05] kfigiela commented on #111
@lorenzo, this does not happen when `.hs` files are open in single pane (unless they are unsaved when window is reloaded). This happens when multiple panes are used and `.hs` files are active tabs in those panes.

[2018-09-10 11:31] kfigiela commented on #111
Looks like it's a concurrency bug, made a PR #113 with a fix that seems to work fine.

[2018-09-10 12:44] #111 closed

[2018-09-12 06:43] dareTake commented on #99
I'm getting an error
` 'src/extension.ts(178,21): error TS2304: Cannot find name 'vscode_1' `

[2018-09-14 02:28] Rhywun commented on #81
I see something similar in which hlint problems appear in the list and then immediately disappear. When I close and re-open the file, the problems are back in the list, until I start typing again and then they disappear.

[2018-09-14 06:55] alanz commented on #81
By default we turn off hlint warnings if there are ghc-mod errors, so it does not clutter.

But hlint gives results first, and they get passed through. This gives the flicker, I guess.

[2018-09-15 00:01] bratfizyk commented on #86
+1. Same on my machine, which is running on Linux Mint 19. I can see something like:

`[2018-09-15 01:56:09.255] [exthost2] [info] extension host started
[2018-09-15 01:56:09.332] [exthost2] [info] ExtensionService#_doActivateExtension vscode.debug-auto-launch {"startup":true,"activationEvent":"*"}
[2018-09-15 01:56:09.332] [exthost2] [info] ExtensionService#loadCommonJSModule /usr/share/code/reso

[2018-09-15 13:13] alanz commented on #86
There is a file called `hie-vscode.bat` (and `hie-vscode.sh`) that is executed to start the extension.

When it is called, it expects to have `hie-wrapper` and (at least) `hie` in its path.

[2018-09-15 22:04] bratfizyk commented on #86
The thing is: both "hie" and "hie-wrapper" are included in PATH. When I run my console and run these command, everything just runs.

[2018-09-16 07:30] alanz commented on #86
Sometimes the path is different for an interactive shell vs a non-interactive one.

e.g. for `bash` is is normally better to set the path in `~/.profile` than in `~/.bachrc`, then it is used for both.

[2018-09-18 00:51] Rhywun commented on #81
Update: I think I have narrowed down the issue by playing around with VSCode's autosave feature. With autosave of files on, it behaves as shown above. When I turned autosave off, the behavior changed as follows:

1. Open file - hlint problems are highlighted
2. Type some characters in the file - no change, hlint problems are still highlighted
3. Save file - hlint problems disappear
4. Continue typ

[2018-09-18 07:32] alanz commented on #81
Ok, we recently reworked the diagnostics generation, and there *is* a difference between the on-save and on-change behaviour, I will take a look.

[2018-09-18 09:17] Magicloud opened #116 "Undo last change when saving."
Vscode in Ubuntu Bionic. GHC 8.4.3. Necessary tools are all from Stackage. I have disabled all my exts and enabled one by one to test. So I am sure its this one.

Actually 2 problems I see.

1. Sometimes, when I save my work (save, save all, menu, hotkey, etc), it insists undo last change before writing data.

2. Sometimes, especially when it is just a code skeleton, code got messed up when saving

[2018-09-20 03:38] Magicloud commented on #116
Today I did another test. Seems like the first issue was not "undo". It is formatting that does not accept unicode operators.

[2018-09-21 07:10] v-garcia commented on #99
Strange for me the file in question is extension.**js** and is located in this folder: `C:\Users\%USERNAME%\.vscode\extensions\alanz.vscode-hie-server-0.0.24\out\src\`.

Then `vscode_1` is assigned on that instruction `const vscode_1 = require("vscode");` at the beginning of the file (line ~14). Check that this assignment exists in the file that you are editing.

[2018-10-12 13:55] SamDM opened #118 "hie-server running but not sending any rpc messages to vscode."
I have a fresh install of hie using the Arch package on AUR (https://aur.archlinux.org/packages/haskell-ide-engine-git/).

When opening a haskell file, the extension does not seem to do anything. No code completion, no linting, nothing (except for syntax highlighting). Enabling the logs, I see that the hie server is running. The log file reflects the actions I perform in vscode such as moving the

[2018-10-13 18:29] EdAllonby opened #119 "hlint flicker on Windows 10"
Hi,

First of all, thanks for this great extension. I saw your recent Haskell Exchange talk and it was great.

hlint seems to be working, but resetting in short succession.

Using `Version 0.2.2.0, Git revision 77ff1fabd5fcbd325165c40b05a5c9831937a1ee (2011 commits) x86_64 ghc-8.4.3`

Steps to reproduce:
1. Windows 10 (Build 1803)
2. Build HIE `.\make-build-all.bat`
3. Create new project `stack ne

[2018-10-26 15:35] barrymoo commented on #118
@SamDM I am facing a similar issue. If I simply create a sym link from `hlint.yaml` to that location I can get past that error. The next one I hit is `hie-8.4.3: Could not find $libexecdir/cabal-helper-wrapper`.

[2018-10-31 20:23] barrymoo commented on #118
@SamDM I would try this suggestion: https://github.com/haskell/haskell-ide-engine/issues/483#issuecomment-410607007. After copying the `cabal-helper-wrapper` to my `~/.local/bin` it worked fine.

[2018-11-01 14:00] huylv opened #122 "Need to reopen file to update documentation and error reporting"
When writing new code, no error reporting or documentation is updated in realtime. I have to close and reopen the file for them to show up. That also means no more undos/redos. Is it an expected behavior? I'm using Haskell Language Server v0.0.24.

[2018-11-02 21:15] Avi-D-coder commented on #122
There are currently a number of cases where hie becomes unresponsive. Unfortunately restarting is often necessary.

[2018-11-27 04:44] OlingCat opened #123 "The hover message cannot shows token correctly"
The `<$>` should be recognized as a whole token:
![img](https://i.loli.net/2018/11/27/5bfcc9b41eac4.gif)

Same bug for `Char` and `[Char]`:
(The top one from Simple GHC Integration; the middle one from HIE; and the bottom one from Haskelly):
![img](https://i.loli.net/2018/11/27/5bfcca371d770.gif)

[2018-11-29 06:03] dreamkidd commented on #101
I got same error like u
[code]

[2018-12-03 22:50] razvan-flavius-panda opened #124 "HIE not working, getting "Loading..." on hover and autocomplete does not work"
I installed the hie wrapper on windows using the powershell script.
Using HIE: Version 0.4.0.1, Git revision 7e0b19721872d1c8e44f49484ac75f6c61412349 (2220 commits) x86_64 ghc-8.4.4
After loading the Haskell code file on hover instead of showing the types it shows `Loading...`.
Also autocomplete is not working.
It appears that HIE is not working at all.
I tried checking for any error in the develo

[2018-12-07 17:41] sandoichi commented on #124
I have the same issue. Tried on several different computers (some running windows 10, some windows 7)

My Haskell HIE output only says this

[2018-12-07 19:50] bubba commented on #124
Does the project compile successfully first/do you get error diagnostics? One current limitation of hie is that it can't provide autocompletion or documentation until it does a successful typecheck first, from there on it is able to cache that result

[2018-12-07 19:55] sandoichi commented on #124
I am able to build the project with stack just fine. I do not get any error diagnostics at all in VSCode with this plugin, though. I get nothing at all except for the "Loading" popup on mouseover of types and values.

FWIW: I am able to use the HIE backend just fine with Spacemacs, so I know that my build of HIE itself is working fine. I'm just trying to get a solid haskell dev environment set up

[2018-12-07 20:36] razvan-panda commented on #124
@bubba For me HIE does not work with Atom either, see: https://github.com/Tehnix/ide-haskell-hie/issues/34

[2018-12-07 21:21] razvan-panda commented on #124
My issue might be caused by: https://github.com/haskell/cabal/issues/5780 Will report back once I figure it out.

[2018-12-07 21:23] razvan-panda commented on #124
@sandoichi can you build your project using cabal?

[2018-12-10 12:31] sandoichi commented on #124
I am able to build the project using cabal, but with the same result in vscode as stack. I do see it says "using cabal project..." now, but I still only get the LOADING popup and nothing else

[2018-12-12 12:17] Tehnix opened #125 "Ask user to download HIE if not found"
I completely missed that [HIE now has binaries for macOS](https://github.com/haskell/haskell-ide-engine/commit/a7b120f96d53d0fbf97d93a07559e4df28adebff), which (for me) means that we can finally get some sleak UX for automatically fetching the needed HIE binaries. I'm pretty sure there's some pre-built for Linux also, but can't seem to find them atm.

The flow could go something like:
[code]

I th

[2018-12-12 18:42] ianbrault opened #126 "Unable to start HIE Server on Mac OS X, get "ghc command not found""
I get the following issue when attempting to open a Haskell project folder in VS Code on Mac OS X 10.14:

[code]

The project was created using `stack new` and can build successfully with `stack build`.

I do not get a similar issue when I run `hie` in the workspace (`hie` is on my `$PATH`):

[code]

nor attempting to run with `hie-wrapper` (also on my `$PATH`):

[code]

Versions of all tools:
- *

[2018-12-13 09:16] 2mol commented on #126
Thanks for the detailed case! I will try to reproduce this on my own system and report back. Some (possibly random) notes:

- Where did you install the ghc binary from?
- which resolver are you using in your stack.yaml?
- did you install cabal via stack as mentioned in the release page?

[2018-12-13 11:12] 2mol commented on #126
Ok, I managed to _also_ not have it work, so that's some progress. Some steps I took to narrow down the problem:

- make sure to do `stack install cabal-install`
- vscode settings: manually set the path for `hie-wrapper` in vscode, because it would otherwise guess ghc 8.6.2 for a 8.4.4 project (I'm guessing it uses the hie executable instead of the hie-wrapper one. We should help clarify that in t

[2018-12-14 16:02] Kleislii commented on #86
Excuse me, how can I get the extension to run after all?
I'm at a loss.
Windows 10, GHC 8.4.4
`hie` and `hie-wrapper` are both already in PATH, `C:\Users\〇〇\AppData\Roaming\local\bin`

[2018-12-20 14:57] t1m0thyj commented on #124
I also have the same issue in VS Code on Windows 10. If I build version 0.4.0.1 of HIE using Stack, I get the "Loading..." popup when I hover over types in Haskell code.

If I revert to an older version of HIE that I built with Stack several months ago ([this commit](https://github.com/haskell/haskell-ide-engine/commit/9725bc0bfcd1b0f112e5e7299d482168fbe1efb3)), then the popups work fine.

I check

[2018-12-20 17:09] maxrothman opened #127 "Support for pre-built HIE binaries?"
[HIE's installation instructions for Mac](https://github.com/haskell/haskell-ide-engine#installation-on-macos) read:

Yet when I do so, I get the following error in the "Haskell (HIE)" output panel in VSCode:
[code]

I notice HIE's instructions also conflict with vscode-hie-server's:

It appears that HIE is trying to move to pre-built binaries to improve the install and update experience, it'd be

[2018-12-20 17:21] sandoichi commented on #124
I created a fresh stack project and loaded it up in VSCode, then did a simple mouseover of a function and grabbed the log (after it did the 'Loading' popup):

`2018-12-20 12:20:57.4986939 [ThreadId 3] - run entered for hie-wrapper(hie-wrapper) Version 0.4.0.1, Git revision b08c30b5ab825cafcf47ff5ede02fe7dcad10b83 (dirty) (2282 commits) x86_64 ghc-8.4.4
2018-12-20 12:20:57.4996918 [ThreadId 3] - Cu

[2018-12-20 17:59] t1m0thyj commented on #124
The significant part of the above log appears to be:
[code]

[2018-12-20 18:02] t1m0thyj commented on #124
This appears to be related to these _haskell-ide-engine_ issues: [#983](https://github.com/haskell/haskell-ide-engine/issues/983) and [#969](https://github.com/haskell/haskell-ide-engine/issues/969)

[2018-12-24 06:49] Vigilans commented on #124
Having tried to build every possible version of ghc, but none of them works.

When running `hie-wrapper` in the terminal, it will output:
[code]
Stuck at ghc-mod message.

When launched as an extension for vscode in an stack project:
[code]
Stuck at configuration step.

When launched with custom wrapper `hie-wrapper --vomit` in vscode:
[code]
even configuration step did not shown up.

[2018-12-29 08:57] #110 closed

[2018-12-29 12:48] srcdes opened #128 "cabal-helper-wrapper "print-build-platform" (exit 1): failed."
When i open a `.hs` file in vscode, an error occurred following:

[code]

[code]

MacOS : 10.14.2
vscode : 1.30.1(1.30.1)

[2018-12-29 15:34] alanz commented on #128
Does `/Users/foo/dev/study/haskell-ide-engine/.stack-work/install/x86_64-osx/lts-13.0/8.6.3/bin/cabal-helper-wrapper` exist?

After installing hie, you have to leave the directory intact that it was installed from.

[2018-12-29 15:37] ghdbox commented on #128
Yep, That file exists.

[code]

[2018-12-29 15:39] alanz commented on #128
And what happens if you run

[code]

[2018-12-29 15:47] ghdbox commented on #128
The result:

[code]

Hmm, do i need to expose `ghc` command on my bash environment? I am using `stack ghc` instead of `ghc`:

[code]

[2018-12-29 15:50] alanz commented on #128
It looks like the wrapper is also expecting a system ghc to be installed.

What I do is just symlink the stack one in to a location on the path somewhere, but in the meantime this is a bug, I will look into it.

[2018-12-29 15:55] alanz commented on #128
This line is the problem.

https://github.com/alanz/cabal-helper/blob/cabal-new-legacy/src/CabalHelper/Compiletime/Wrapper.hs#L162

[2018-12-29 16:10] ghdbox commented on #128
Oh, you are right. Thanks. I appended a path for `ghc` into my `.zshrc` file following. And the error was gone. Is this a right way to fix this error, especially the path for `ghc` ?:

[code]

[2018-12-29 19:30] alanz commented on #128
you can also use

[code]

[2018-12-30 01:56] ghdbox commented on #128
I assume `--compiler-exe` should be `--compiler-bin`... :)

[code]

[2018-12-30 09:08] ghdbox opened #129 "When compiler error occurs, the extension stops working"
When i open a new window of vscode, the extension works well. And while i am typing some codes, linter reports that the codes, which i've written, have an error(e.g. `[ghcmod] parse error (possibly incorrect indentation or mismatched brackets)`, of course. Since then `vscode-hie-server` extension stops working. For example, when i hover mouse on a symbol, the popup message only shows `Loading...`.

[2018-12-30 13:15] alanz commented on #129
Can you provide the contents of the directory you are working in here? Or the file you are opening?

[2018-12-30 13:46] ghdbox commented on #129
This is a working directory:

[code]

This is `test2.hs` file:

[code]

You may reproduce this situation following:

1. Delete `ifEvenSquare n = ifEven square n` line, though, I think the file contents doesn't matter concerning this issue.
2. Type slowly that line was deleted just now again.
3. You may see error like below(If you copy and paste that error) in vscode problems tab.
4. Since then, th

[2018-12-30 19:21] alanz commented on #129
My reproduction of this problem shows up in the logs as

[code]

Which means the ideDispatcher is endlessly processing the same request.

[2018-12-31 13:01] #129 closed

[2018-12-31 16:14] valyagolev commented on #124
same :'( vomit logs are just

[code]

[2018-12-31 20:02] srcdes opened #130 "When renaming opened file at least once in a session, an error occurs."
There is an issue related to renaming a file:

[code]

- When you rename a `.hs` file opened at least once in a vscode session, or a `.hs` file opened currently, an error occurs.
- When you rename a `.hs` file, which is not opened once in current vscode session and is not opened currently, through sidebar(`Right click file - Rename`), it seems to work correctly. But when you rename the file again

[2019-01-06 06:51] AlexeyRaga commented on #89
Do we have a solution for this issue?
I started having `Got error while processing diagnostics: unable to load package `integer-gmp-1.0.2.0'` on GHC 8.4.4 after updating to the latest commit.

I renamed all the `HSinteger-gmp-1.0.2.0.o` I have found for that GHC, but I am still having this problem...

At the same time, `cabal new-build` works fine.

[2019-01-06 07:06] AlexeyRaga commented on #89
Oh, actually, I have found yet another occurrence of `HSinteger-gmp-1.0.2.0.o` and renaming it helped.

[2019-01-10 03:00] razvan-panda commented on #124
Just wanted to confirm that building using the SHA @t1m0thyj mentioned (9725bc0bfcd1b0f112e5e7299d482168fbe1efb3) gives a working HIE for GHC 8.4.2.

[2019-01-20 13:08] janat08 opened #131 "cabal-install is not installed. Check the README..."
``cabal-install is not installed. Check the README for more information`` appears, what it's actually referring to I don't know.

[2019-01-31 08:12] delreluca commented on #131
I get the same, here is the output after startup in addition.

macOS 10.14.2 x64

VSCode
Version 1.30.2 (1.30.2)
Extension
Name: Haskell Language Server
Id: alanz.vscode-hie-server
Description: Language Server Protocol for Haskell via HIE
Version: 0.0.24
Publisher: Alan Zimmerman
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=alanz.vscode-hie-server
HIE
make hie-8.6.3
mak

[2019-02-02 22:16] spacekitteh opened #132 "Does this extension support building stack projects and putting the results in the Problems window?"
As in, a "build" button a la Haskelly.

Alternatively: Can `hie` be used as an output parser for vscode tasks?

[2019-02-02 22:19] delreluca commented on #131
It's from HIE, not from the extension, the source is here: https://github.com/haskell/haskell-ide-engine/blob/e1aeb180ab8065bd6a8413e050c6277191d0d33f/src/Haskell/Ide/Engine/Transport/LspStdio.hs#L443

The warning basically says that there is not executable with the name cabal in the path. So either add Stacks's bin folder to the PATH (which sucks for macOS since changing the path for packaged .ap

[2019-02-05 22:01] rossng commented on #59
I am still seeing this issue with a fairly recent version of `haskell-ide-engine`. Again, the issue seems to be that the diagnostics are published correctly and then an empty set of diagnostics is immediately published. Here's some of the log:

[code]

I debugged through the VS Code extension to verify that there was nothing weird happening there. It does seem that this is purely from `haskell-ide

[2019-02-06 19:03] t1m0thyj commented on #59
Can confirm that I am seeing the same issue in VS Code on Windows 10 with GHC 8.2.2. Errors and warnings from HLint persist, but suggestions flicker.

[2019-02-10 00:31] spacekitteh opened #133 "Code actions of kind 'quickfix 'requested but returned code action is of kind 'refactor'. Code action will be dropped."

[2019-02-12 04:06] beauzeaux opened #135 "Not detecting stack GHC version on Windows 10"
Recently tried to setup this extension on my Windows 10 machine and ran into a GHC version mismatch since my project uses 8.6.2 but I have 8.6.3 installed globally.

I enabled the verbose logging and it looks like the hie-wrapper is failing to get the stack version.

[code]
Now I assumed this was an issue with `hie-wrapper` but when I run hie-wrapper in the same directory (In powershell or cmd) it

[2019-02-18 05:12] michaelHL commented on #135
Same here (with stack - GHC 8.4.4)

[2019-02-19 04:20] beauzeaux commented on #135
Okay, I found some time today to look a little deeper and it looks like the issue is the failure of getting the stack version.
[code]

[This line](https://github.com/haskell/haskell-ide-engine/blob/master/src/Haskell/Ide/Engine/Plugin/Base.hs#L114) in hie-wrapper is to blame but it is actually because the underlying command "failed". (this is actually some access violation)

I found a couple of sh

[2019-02-21 13:05] FledgeXu commented on #128
Hey Guys,I have the same problem.
[code]
[code]
When I run the cabal-helper-wapper, It shows:
[code]
what should I do?

Should I install ghc above 7.0 by stack?

[2019-02-22 08:22] jinbeomhong commented on #128
@FledgeXu You should add `ghc` command to `PATH` environment variable of your shell.

[2019-02-22 08:28] FledgeXu commented on #128
@jinbeomhong It works! Thank you for your help.

[2019-02-25 10:47] krikchaip commented on #128
Hi there,
I already did this. but the error still occurs 😕

<img width="960" alt="screen shot 2562-02-25 at 17 36 50" src="https://user-images.githubusercontent.com/23186625/53331639-fb0bbd80-3923-11e9-8e0e-416b4fc28b96.png">

<img width="1194" alt="screen shot 2562-02-25 at 17 38 23" src="https://user-images.githubusercontent.com/23186625/53331755-3a3a0e80-3924-11e9-823d-49cf4861a1bf.png">

<img

[2019-02-26 08:43] dnsdhrj commented on #81
Hello,
I found a way to workaround the annoying flickering problem.

1. Go to `Open user settings` in Command Palette (Ctrl+Shift+p).
2. Remove the line  `"languageServerHaskell.hlintOn": true`, if any.
3. Save the setting.
4. Add the line  `"languageServerHaskell.hlintOn": true`.
5. Save the setting.
6. hlint appears!

But, if I type some code and save it, hlint disappears again. (only that file)

[2019-02-26 08:54] dnsdhrj commented on #81
By the way, this issue seems like a duplicate of #59 .

[2019-02-26 13:36] Teslamandev opened #137 "Extension causes high cpu load"
[alanz.vscode-hie-server-unresponsive.cpuprofile.txt](https://github.com/alanz/vscode-hie-server/files/2905653/alanz.vscode-hie-server-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-hie-server`
- Extension Version: `0.0.24`
- OS Version: `Linux x64 4.19.24-1-MANJARO`
- VSCode version: `1.31.1`

Find more details here: https://github.com/Microsoft/vscode/wiki/Exp

[2019-03-02 14:09] alanz commented on #133
I think this has been addressed by https://github.com/haskell/haskell-ide-engine/pull/1082

Please confirm

[2019-03-02 14:11] alanz commented on #132
This extension operates as a language server, so as you edit a file the modified file is processed by hie to generate diagnostics.

[2019-03-02 14:15] alanz commented on #131
The install instructions on https://github.com/haskell/haskell-ide-engine suggesting using either the Makefile or (preferred now) Shake install process, which does install `cabal-install`, as it is needed by `cabal-helper`

[2019-03-02 14:16] alanz commented on #127
It turned out not to be possible to pre-build macos binaries, so this has now been deprecated. For now.

[2019-03-03 21:12] maxrothman commented on #127
It looks like HIE has removed all mentions of pre-built binaries from their documentation.

[2019-03-03 21:12] #127 closed

[2019-03-10 08:48] afcowie opened #138 ""Go to Symbol in Workspace" (Ctrl+T) not working"
I'm reasonably sure I followed the instructions well; most other features of **hie** are working great. But for some reason symbol lookup from the `Go` menu under `Go to Symbol in Workspace (Ctrl+T)` isn't populated with any symbols.

Interestingly the `Outline` feature in the file Explorer _is_ populated, and `Go to Symbol in File (Ctrl+Shift+O)` _does_ work. Huh! But whatever the action is that

[2019-03-10 08:48] afcowie commented on #138
(incorrectly reported against **haskell-ide-engine** in https://github.com/haskell/haskell-ide-engine/issues/1123; moved issue here)

[2019-03-13 13:15] andrewufrank opened #139 "switching hlint off"
I read that `hlint` can be switched on or off with

    "languageServerHaskell.hlintOn": true,

but in which file is the setting to be inserted? I use VS code and can see the setting under contributions - settings -- but where do I change the value? (sorry, I am new to VS Code - could you add a sentence or two in the Readme? thank you).

[2019-03-13 16:22] andrewufrank commented on #139
i found the switch in file - preferences -  settings - user settings. a hint in the readme would be nice for the problems of beginners! thank you

[2019-03-14 16:08] mbwgh opened #140 "Open directly a haskell source file does not activate the extension"
I had a little trouble getting the plugin to work. Since I am new to VSCode as well, this is not necessarily a problem with `vscode-hie-server` per se, though.

After playing around with the editor, I came to the conclusion that not only do you have to be inside a stack or cabal project directory, but the directory has to be added to a VSCode Workspace as well. Only then will `hie`-related stuff h

[2019-03-15 01:13] Kitanotori opened #141 "'vscode.previewHtml' deprecated"
Filing an issue as commanded by vscode:

vscode version 1.32.3

[2019-03-17 00:47] EdAllonby commented on #141
Also noticed this warning today. Had a pop at fixing it over at #142.

[2019-03-17 10:03] andrewufrank opened #143 "problems reported in OUTPUT are not updated"
I use VS code 1.32 with hie-server 0.0.25 and hie 0.7.0.0.
I observe that the the errors and problems reported are oftentime out of sync/not update. If I run `stack build` in the terminal I get errors which are not shown in PROBLEMS and there are errors listed which are corrected. Is there a way to force the synchronization? How to restart the process to detect and show the current problems?
thank

[2019-03-17 11:11] fabioluz opened #144 "Intellisense and lint not working"
Stack: Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1
SO: Windows 10
VSCode: 1.32.3 a3db5be9b5c6ba46bb7555ec5d60178ecc2eaae4 x64

Hi people,

I just installed the `haskell-ide-engine` but the VS Code plugin is not working. I installed HIE by running:

[code]

Then, when I opened my haskell project in VS Code, I got a message saying that the

[2019-03-18 20:14] fabioluz commented on #144
Closing this since there is an open ticket for the same problem https://github.com/alanz/vscode-hie-server/issues/124

[2019-03-18 20:14] #144 closed

[2019-03-18 20:30] fabioluz commented on #124
I'm also having the same problem.

Env:
[code]

[2019-03-21 09:33] andrewufrank commented on #143
It would be very helpful if there were a method to (1) restart HIE from `vs code` or (2) find the pid of HIE to kill it - the one dealing with this thread (not `pidof` which gives all HIE threads running)

[2019-03-21 09:36] andrewufrank commented on #46
the ability to restart the HIE would help when the diagnostics are not updated automatically. perhaps simpler but still very helpful would be a way to see which `pid` the `HIE` thread has (the one for this `vs code terminal` -- there are typically several ones)

[2019-03-22 00:35] leshow opened #145 "hie-wrapper not used"
I built hie all versions, and have a project with 8.6.3. Basically no matter what I do, vscode will not use `hie-wrapper`

I have every version of hie available along with hie wrapper, and the following settings in `settings.json`
[code]

output:
[code]

edit: or rather, it looks like it initially does use hie-wrapper then stops?

[2019-03-23 15:05] KillyMXI commented on #124
Same here.
GHC-8.4.4, Windows 10.

HIE output same as above. No more text after `Using hoogle ...` line.
After reloading vscode I got two hlint reports in the Problems tab and one type definition on hover (former is repeatable, latter I couldn't repeat).
And after that it fell into the same behavior - "Loading..." on hover, two hlint reports remain unchanged after the pointed problem got fixed.

I

[2019-03-23 22:06] KillyMXI commented on #124
Created a bat file with contents:
[code]
, set it as a wrapper.
Got both files pretty short. There were no lines with `NotDidOpenTextDocument`, so it must be irrelevant to this issue.
Log contains these lines after usual intro:
[code]
*(I omitted most part of request and response here for brevity - nothing screams error there. Let me know if it might contain anything important.)*

What I also noti

[2019-03-24 15:23] KillyMXI commented on #124
Ok, I think I have it kinda working but unstable.

First, I followed the workaround described in https://github.com/haskell/haskell-ide-engine/issues/983#issuecomment-457882300 .
I suspect that, due to scope change, some dependencies were resolved differently somewhere, leading to broken behavior. Good luck tracing that.

Second, I had to apply workaround from #128 (adding stack ghc binaries folde

[2019-03-24 15:37] KillyMXI commented on #128
I got this on Windows 10.
I would love to not depend on workarounds for this issue.

[2019-03-24 15:50] KillyMXI opened #146 "Passing additional arguments to HIE"
Better troubleshooting tools needed for issues like #124.

I would like to see a checkbox in extension settings for debug mode, or a whole text field for additional arguments to be passed to hie/hie-wrapper.

Wrapper bat file is not working for me, and it is not really convenient anyway.

[2019-03-28 18:52] halhenke commented on #123
I cant reproduce this bug. Its been a while since i looked at this plugin and the underlying hover/hint implementation seems to have changed quite a bit - might try to change the showTypes on hover implementation to reflect some other behaviour which has become a bit inconsistent

[2019-04-03 15:10] xgrommx opened #147 "Extension doesn't work in visual studio code insiders"
Hello @alanz. I have some problem with visual studio code insiders. On usual version it works correctly but on insiders version not.

[2019-04-04 22:55] theGhostJW commented on #147
Hi
It looks like that problem is now in the main release.
Went from everything working perfectly -> nothing working with update to this version of VSCode

Version: 1.33.0 (system setup)
Commit: 0dd516dd412d42323fc3464531b1c715d51c4c1a
Date: 2019-04-04T15:14:28.026Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

@xgrommx  might be an idea to upda

[2019-04-05 00:28] theGhostJW commented on #147
Downgrading VS Code:
  * File > Preferences > Settings <User Tab><Search For: Update>
  * I disabled all the following settings, some of these changes might not be required but <Update Mode> definitely is:
    * Update: Enable Windows Background Updates  - UNCHECKED
    * Update: Mode - NONE
    * Extensions: AutoCheck Updates: UNCHECKED
  * Download and install previous version from: https://code

[2019-04-05 02:41] mikelpr opened #148 "doesn't work on 1.33"
hie is not started. no warnings no errors. I just downgraded to 1.32.3 and it works again and there's #147 so I guess the insider build hit stable today as 1.33

[2019-04-05 03:19] AlexeyRaga commented on #148
Same here.

[2019-04-05 03:50] AlexeyRaga commented on #148
I just tried to upgrade deps for `vscode-hie-server` and got an error that it couldn't be activated because `justusadam.language-haskell` couldn't be activated.
And `justusadam.language-haskell` is not activate because of the "missing property `source`".
I am not sure if I am debugging it correctly though...

[2019-04-05 07:47] alanz commented on #147
I just hit this too.  I guess I need to skill up on how vscode works.

[2019-04-05 07:48] NickSeagull commented on #148
Hit this issue too, let me know if I can do something to help @alanz 😄

[2019-04-05 07:51] alanz commented on #148
I have very little knowledge of this platform, the extension is basically cargo-cult programming, so if you have some knowledge and can help, a PR would be great.

[2019-04-05 08:59] david9991 commented on #147
Same here...

[2019-04-05 10:44] AlexeyRaga commented on #148
I tracked down the issue to a particular line of code and figured out a workaround. But since I am not into JS/TS/VSCode, I am not entirely sure if my workaround sounds.
Whoever is more experienced with TS/JS, please have a look: https://github.com/JustusAdam/language-haskell/issues/84

[2019-04-05 10:57] AlexeyRaga commented on #148
An immediate workaround that worked for me:

1) edit `~/.vscode/extensions/justusadam.language-haskell-2.5.0/out/src/extension.js`
2) replace `null` with `""`

[2019-04-05 14:37] alanz commented on #148
So a possible `vscode-hie-server` is to make the dependency on `language-haskell` optional, for now.

[2019-04-05 23:58] AlexeyRaga commented on #148
`language-haskell` `2.6.0` has been released, the issue is fixed now.

[2019-04-05 23:58] #148 closed

[2019-04-06 00:00] AlexeyRaga commented on #147
This should be fixed now with https://github.com/JustusAdam/language-haskell/issues/84.
I don't use insiders versions, @xgrommx please verify.

[2019-04-06 00:15] AlexeyRaga commented on #140
@mbwgh

This extension hooks to VSCode's extensions API presenting itself as a language extension and implementing required API methods.
A documentation can be found here: https://code.visualstudio.com/api/language-extensions/overview

But basically, if you look inside `package.json` you'll find this:
[code]

which, AFAIK, means that `VSCode` will call the extension's `activate` function (defined

[2019-04-06 00:15] #139 closed

[2019-04-06 01:20] xgrommx commented on #147
@AlexeyRaga yes, now it works as expected.

[2019-04-06 05:18] #147 closed

[2019-04-12 13:08] DoctorRyner opened #149 "Plugin startup (macOS)"
Plugin runs when you install or enable it (yes, disabling and enabling makes this plugin work)

Before enabling it that way, nothing works (obviously), when you trying to run "Show Type" it says `command 'hie.commands.showType' not found`

[2019-04-12 16:18] DoctorRyner commented on #149
It was caused by SIMPLE GHC (VS Code plugin) being installed and disabled, when you enable it or remove it, hie works as intended

[2019-04-12 16:18] #149 closed

[2019-04-14 08:14] darksniper87 commented on #124
Is this still an issue and we need to wait for the next GHC release.
I am currently on Windows 10, I successfully compiled `haskell ide server` with GHC v8.6.4, I don't get any error on VSCode but it's not working. I get the `Loading ...`

[2019-04-22 13:41] #141 closed

[2019-04-22 14:11] alanz opened #151 "Apply bundler to the extension"
`vsce package` says

[code]

[2019-04-22 14:17] alanz commented on #145
Are you on windows? Because 8.6.3 does not work on windows

[2019-04-24 15:48] andrewcurtis commented on #124
Experiencing same issue as previous poster on win10 w/ latest vscode and HIE built from source, nearly identical output (save for project directory of course).

[2019-04-26 10:54] luochen1990 commented on #128
Following is my workaround (as a summarize of @alanz and @jinbeomhong 's above comment):

add `export PATH="$(stack path --compiler-bin):$PATH"` to rc file, so that the command `ghc` works, and this issue gone.

[2019-04-27 02:08] eadwu opened #153 "Cannot satisfy -package-id"
Basically the same message as the other issues with the similar message, although the hie and compiler version match. `cabal build` works fine so the dependencies should be there?

[code]

[2019-04-27 21:55] eadwu commented on #153
Seems like a problem with my shell environment, fixed and tested through wrapper.

[code]

[code]

[2019-04-27 21:55] #153 closed

[2019-04-30 14:59] mbwgh commented on #140
@AlexeyRaga Sorry for taking so long to reply, thank you for your explanation.

I was able to test it a little more finally, and it seems that as you say, the `onLanguage` event is fired and trigger's the extension's activation. At least it says this in the `Log (Extension Host)`:

[code]

This is from creating a new text file with the following content

[code]

so that I could test for GHC errors

[2019-05-05 08:21] darksniper87 commented on #124
Issue fixed by building the latest Haskell Language Server with GHC v8.6.5

[2019-05-09 18:14] benedikt-mayer commented on #145
I have the same issue with the same settings as @leshow on Linux OpenSUSE Leap 15.0.

`Using hie version: Version 0.9.0.0 x86_64 ghc-8.6.2
[Warn  - 8:08:22 PM] Mismatching GHC versions: Project is 8.2.2, HIE is 8.6.2
You may want to use hie-wrapper. Check the README for more information
Using hoogle db at: /home/bene/.hoogle/default-haskell-5.0.17.hoo`

[2019-05-10 13:18] suside commented on #124
Same issue with "Loading..." but hover works fine. Latest HIE + GHC v8.6.5
@darksniper87 by Haskell Language Server you meant haskell-ide-engine?
![image](https://user-images.githubusercontent.com/197044/57524344-d5d5fb00-7327-11e9-8af9-97d5f557b6e3.png)

[2019-05-10 14:07] darksniper87 commented on #124
Yes. Make sure to compile the haskell-ide-engine in a folder path with no whitespaces.
Also I though that by creating the hie.exe files the task was done and the source codes were not needed.
But no, the source files are need to compile to exe files and also for the engine to work.

[2019-05-10 18:02] kitlangton commented on #78
Any luck with this?

[2019-06-03 21:57] lem0n4de commented on #86
I am running this extension on NixOS 19.03. Extension is installed, but there is no logs of it in `Extension Host` log of vscode.
[code]

Here are my settings.
[code]

Both hie and hie-wrapper is on PATH, they are installed on root user and can be used by my user.
[code]

And because of curiosity, I installed atom editor and hie works there. So it is not the cause. I don't know why but this extens

[2019-06-06 14:46] sheyll commented on #140
I have the exact same problem. When I open a Haskell source file in a folder with a stack project, vscode  used to start the plugin, now it doesn't.

I did not use vscode for a few months, they might have changed some stuff I might have missed, so I don't know if this is a problem I somehow caused.

But from a UX perspective: I didn't do anything bad, and it just doesn't work anymore ;)

[2019-06-07 19:21] #39 closed

[2019-06-08 02:30] alkthegit commented on #101
I was getting the same error because previously I set "Use Custom Hie Wrapper" parameter to ON in the HIE extension settings.
When I switched it off again, it started working.

[2019-06-10 07:39] halhenke commented on #151
Hey - I'm happy to take this - have something working with parceljs but for some reason it only packages properly when vsce is used with yarn (`vsce package --yarn`). Will try to get something working with npm if possible but otherwise will make a PR.

[2019-06-25 00:33] Rizary commented on #128
Hi... I got the following error when trying to run `vscode-hie-server` extension on my WSL.
[code]
I am using [`all-hies`](https://github.com/Infinisil/all-hies) and hvr:ppa for my cabal and ghc/ghcjs binary.

One thing that I noticed here is that cabal-helper put this ` "v1-style" "/home/rizary/Haskell/alltuts/fp-course" "/home/rizary/Haskell/alltuts/fp-course/dist" ` argument automatically where

[2019-07-01 00:35] Infinisil commented on #128
I think as of now HIE doesn't work well with the new-style commands (https://github.com/haskell/haskell-ide-engine/pull/962 is related). For my development I'm therefore still using the old-style commands.

[2019-07-24 21:34] Huxpro opened #158 "Got error while processing diagnostics: readCreateProcess"
I had ghc 8.6.5 installed and hie-8.6.4 built and received warning.
And then I received this errors:

[code]

[2019-08-01 07:25] chrismwendt commented on #145
These lines from your output:

[code]

indicate that `/home/leshow/.local/bin/hie-8.6.3` is actually 8.6.4. Here's the relevant source:

https://github.com/alanz/haskell-ide-engine/blob/9bc0b0146c5775d36cb6fb036fa529c71ca1df8e/app/MainHie.hs#L110-L119

[code]

What commands did you use to build hie? Is `/home/leshow/.local/bin/hie-8.6.3` a symlink?

[2019-08-01 07:28] chrismwendt commented on #145
@benedikt-mayer Can you post the output of running `hie-wrapper` from the command line? That'll show how hie-wrapper decided which version to use.

[2019-08-01 07:51] chrismwendt commented on #137
![image](https://user-images.githubusercontent.com/1387653/62275148-91c23600-b3fe-11e9-8258-7f5f5b22f37e.png)

It looks like 20+ seconds were spent loading files 😱

I bet bundling this extension into 1 JavaScript file (vs 2000 separate files, which is what it is right now) https://github.com/alanz/vscode-hie-server/pull/159 will solve this.

[2019-08-01 10:09] chrismwendt commented on #138
I think this needs to be implemented in HIE, not in the VS Code extension.

Both features (the symbol outline and "Go to Symbol in Workspace") come from LSP:

- https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol handled at https://github.com/chrismwendt/haskell-ide-engine/blob/a67490b656a001806c09436acdfce80bf4903f57/src/Haskell/Ide/Engine/Transport/LspS

[2019-08-01 10:19] chrismwendt commented on #135
Can this be closed? The fix is in.

[2019-08-02 17:59] leshow commented on #145
I'm not sure this is still an issue for me, I've re-installed hie several times since I first posted it. I never really figured out why hie-8.6.3 -> 8.6.4

[2019-08-03 01:27] chrismwendt commented on #101
If you set

[code]

you also have to set

[code]

(from https://github.com/alanz/vscode-hie-server#custom-wrapper)

This extension could detect that invalid configuration and display a message.

[2019-08-06 03:38] QuietJoon opened #161 "Could Handle hieExecutablePath separately for *nix and Windows"
I'm working on many Haskell projects shared by Google Drive.
However, to work across Linux(my home) and Windows(my company) on the same directory, I have to change `languageServerHaskell.useCustomHieWrapperPath` path every time before running VS Code by which platform that I use now.

## My current situation

Now, I'm working like this way:

    //"languageServerHaskell.useCustomHieWrapperPath": "

[2019-08-06 03:47] QuietJoon opened #162 "languageServerHaskell.useCustomHieWrapperPath option don't work properly with workspaceFolder variable on Windows"
When I set `languageServerHaskell.useCustomHieWrapperPath` with absolute path or `${HOME}` variable, it works.
However, with `${workspaceFolder}`, it doesn't parse the path properly when running VSCode on Windows but parses the path as *unix way

Works well:

* `"languageServerHaskell.useCustomHieWrapperPath": "${HOME}/hie.bat"`
* "languageServerHaskell.useCustomHieWrapperPath": "${HOME}\\hie.bat"

[2019-08-08 14:51] gantsevdenis opened #163 "autocompletion doesnt work"
I have an inifnite "Loading..." message.
I have somehow managed it to work for couple of seconds (!) and then it all stopped.
Relaunching hie doesn't do anything, I have tried with hie-8.6.5 and hie-8.4.4, I also tried this hack https://github.com/haskell/haskell-ide-engine/issues/983, and recompiling hie afterwards, with no luck

hie log has a ton of messages, I am not sure what is relevant to po

[2019-08-13 12:21] beauzeaux commented on #135
Yes, my apologies for leaving it open!

[2019-08-13 12:21] #135 closed

[2019-08-13 15:29] Phill101 commented on #163
exactly the same problem. tried on two different machines

[2019-08-13 15:35] Phill101 commented on #158
@Huxpro
It probably may help:
https://github.com/alanz/vscode-hie-server/issues/128

[2019-08-19 10:26] ConnorJL opened #164 ""The Haskell HIE (haskell) server crashed 5 times in the last 3 minutes. The server will not be restarted.""
I'm running VSCode on Xubuntu and installed HIE using nix (I can't build HIE because it takes more hard drive space than I have on my machine). The hie and hie-wrapper binaries are callable just fine through a bash shell and start without an issue. But every time I open a haskell file I get the error "The Haskell HIE (haskell) server crashed 5 times in the last 3 minutes. The server will not be re

[2019-08-22 16:03] sheyll commented on #86
I have this problem, too.

I run NixOS 19.03.

[2019-09-11 17:43] KillyMXI commented on #163
#124

[2019-09-17 17:12] GuillaumeDesforges opened #165 "Failure to start hie when cabal-install is installed"
Hello

## Stack trace
Child process fails on
```/nix/store/a1fgqywyav0dkmk3kkq3hm8219aas6cw-cabal-helper-0.9.0.0/bin/cabal-helper-wrapper "--with-ghc=ghc" "--with-ghc-pkg=ghc-pkg" "--with-cabal=cabal" "v1-style" "/home/arsleust/projects/test-project" "/home/arsleust/projects/test-project/dist" "package-db-stack" "flags" "compiler-version" "ghc-merged-pkg-options" "config-flags" "non-default-config

[2019-09-19 07:10] hmemcpy opened #167 "cabal-helper-wrapper fails to install cabal on WSL with "Invalid package ID""
I've managed to (almost) set up the entire environment on WSL (with Nix). The only problem now seems to be that cabal-helper-wrapper failing to install with the following error:

[code]
When running just with `print-build-platform`, I'm getting `x86_64-linux` as a result.

How is the tmp directory path calculated? What other details can I provide?

[2019-09-25 06:50] hmemcpy commented on #167
This also happens in this particular repo on Ubuntu proper, same error:
[code]

Any ideas?

[2019-09-25 07:50] hmemcpy commented on #167
Update: I ran with `--verbose`, saw it detecting, then trying to run cabal 3.0.0.0, and ultimately failing:
[code]

Investigating...

[2019-09-25 16:17] jneira commented on #167
It looks very similar to #165 (in NixOS) and i've got the error in native windows too.
I think the cause is the project had been built with cabal-install-3.0.0 but the ghc used (likely 8.6.5) has installed Cabal-2.4.1.0.

[2019-10-06 20:29] fendor commented on #145
@leshow Are the logs still the same with hie-0.12.0.0?
Also, what is the output of:
[code]
respectively and what are their paths?

Is the project you are trying stack or cabal?

[2019-10-06 20:47] leshow commented on #145
Since I posted this I've re-installed hie multiple times. The most recent install was from source instead of using the hie in archlinux AUR, things seem to have worked smoother since then.

You can close this issue if you like, fresh log:

[code]

[code]

[2019-10-06 20:49] fendor commented on #145
While it seems weird that `hie` points to `hie-8.6.3`, good to hear that it works now!

[2019-10-07 11:56] jchia commented on #131
Has this issue been resolved? I still see the warning. I installed HIE using shake with `stack ./install.hs stack-hie-8.2.2 stack-hie-8.6.5`. I don't see `cabal`-anything in `~/.local/bin`.

[2019-10-08 07:41] jneira commented on #131
@jchia the hie build script [don't install cabal by default anymore](https://github.com/haskell/haskell-ide-engine/pull/1368), cause it should not be needed if you are using `stack`. If you want to use hie with projects that uses exclusively `cabal` (they dont have a `stack.yaml` file in root) you should install cabal:
* running `stack install.hs cabal` will install the appropiate version for hie

[2019-10-08 10:30] jneira commented on #131
I've added a visible new target to build script: `stack install.hs stack-install-cabal` to cover the use case: https://github.com/haskell/haskell-ide-engine/pull/1405

[2019-10-08 11:57] jchia commented on #131
@jneira I was getting the warning on stack projects. The warning went away after I did `stack install.hs cabal`, which added `~/.local/bin/cabal`. However, after I delete it and run `stack install.hs cabal`, nothing happens. Is that the expected behavior?

[2019-10-08 13:04] jneira commented on #131
Yeah the warning should not be displayed if the project is stack based.

No, i've just reproduced the error, it seems stack finds the cabal it just installed inside $STACK_ROOT, i will change the mentioned pr to take in account that behaviour and install it every time (if it is not in the original $PATH).
Thanks for testing!

[2019-10-09 11:04] jneira commented on #131
Finally make the install script ignore the cached cabal executable is trickier than i expected so the fix will be in another separate pr

[2019-10-17 07:57] jneira commented on #131
I've updated the README to make clear cabal is optional and the way to install it with stack: https://github.com/haskell/haskell-ide-engine/pull/1414

[2019-10-20 14:55] expipiplus1 commented on #125
Looks as though this is waiting for hie to be on hackage/stackage: https://github.com/alanz/vscode-hie-server/blob/master/src/extension.ts#L75

[2019-10-20 15:11] expipiplus1 opened #169 "How to get coc.nvim port merged cleanly?"
I've made a port to coc.nvim: https://github.com/expipiplus1/vscode-hie-server/tree/coc.nvim

I'm certainly no typescript expert, but would really like to merge the support for coc.nvim into master to avoid all the fuss of porting features back and forth. Can any typescript experts lend any advice?

![I have no idea what I'm doing dog](https://i.kym-cdn.com/entries/icons/original/000/008/342/ihave

[2019-11-04 18:24] Ptival commented on #165
I have pretty much the same error, except, because I have some ambient updated cabal, the error message is slightly different:
[code]

Note that my ambient version of Cabal is 3.0.

[2019-11-06 22:55] #137 closed

[2019-11-06 22:55] #151 closed

[2019-11-06 23:02] alanz commented on #137
Should this have been closed? I do not see the connection.

[2019-11-06 23:49] chrismwendt commented on #137
I think it was taking a long time to load the extension because there were a large number of files. After bundling into 1 JS file, it is much faster.

[2019-11-19 18:51] patrickaldis commented on #59
Can confirm I also have the same issue on the latest version of hie, using GHC 8.4.3, VS Code on windows 10.

[2019-11-20 08:55] jneira commented on #59
This one was already reported in the haskell-ide-engine repo:
* https://github.com/haskell/haskell-ide-engine/issues/1447
* https://github.com/haskell/haskell-ide-engine/issues/1441

[2019-11-20 17:16] Gipphe opened #175 "Update HIE install instructions"
With haskell/haskell-ide-engine#1452 merged, HIE doesn't even have a `build-all` build target any longer, and (seemingly) this build target [was discouraged for new users](https://github.com/haskell/haskell-ide-engine/pull/1452#discussion_r346941695). As such, it might be time to update the install section fo the README with the generally better build target `build`, meaning you end up installing

[2019-11-20 18:59] patrickaldis commented on #59
What I find surprising however is that when I switch over to my atom configuration, with all the recommended hie plugins, hlint suggestions are all shown permanently. Wouldn't that indicate its a plugin side issue?

[2019-11-20 20:25] #175 closed

[2019-11-22 20:15] XanderDJ opened #177 "hie-server doesn't start up anymore. Win10"
First of all. I have checked that both hie and hie wrapper are in the path. I also have put the path directly in the settings but this didn't work. In output all i see is. I'm using visual studio code in windows 10.
`
[Error - 21:04:56] Connection to server is erroring. Shutting down server.
[Error - 21:04:56] Connection to server is erroring. Shutting down server.
[Error - 21:04:56] Connection to

[2019-11-22 20:40] jneira commented on #177
Hi! A quick check could be run in a console:
* `hie --version`: to get the version (you can share here the output)
* `hie --lsp --debug`: to check if hie can be executed out of vscode (you can exit with ctrl+c)
[code]

[2019-11-25 07:09] expipiplus1 commented on #169
One thing might be to encourage contributors to make the same change to the coc.nvim branch when making a PR here; definitely not an ideal solution though.

[2019-11-27 15:32] YouWillBe commented on #177
https://github.com/haskell/haskell-ide-engine/issues/1470

[2019-11-27 15:37] YouWillBe commented on #164
https://github.com/haskell/haskell-ide-engine/issues/1470

[2019-11-29 06:21] AMDphreak opened #178 "Improve README description"
The Description of Haskell Language Server in the VSCode Extensions is incredibly useless. What _IS_ Haskell Language Server?

![image](https://user-images.githubusercontent.com/1058978/69847938-2ff3ca80-123e-11ea-81fd-f790d6bb4dc9.png)

![image](https://user-images.githubusercontent.com/1058978/69847772-a93eed80-123d-11ea-8f7e-451a4ca7b11e.png)

You don't bother explaining a damn thing about what

[2019-11-29 08:02] reactormonk opened #179 "Ability to click on types in error messages"
On popups for error messages (or just the type hints), it would be valuable to recursively show type hints / goto def as well.

[2019-12-03 05:54] expipiplus1 commented on #178
IMO, the "Features" section does a good job of listing what this program provides for Haskell users. Perhaps this section could be moved to above the "Requirements" to make it a little more prominent.

I suppose that some of the jargon used in the description could be made into hyperlinks to more resources to help explain.

[2019-12-12 18:15] FrancisToth opened #180 "Stale error displayed in VScode"
Hi guys, Haskell noob here. I start playing with VSCode (1.40.2) and Haskell IDE Engine (0.14.0.0) with Haskell Language Server (0.0.31) , and got a really weird behaviour. Given the following code:
[code]
If I add another function named like `foo`
[code]
wait for the error to be displayed, and then fix the name of the duplicated function like this:
[code]
the code compiles (when loaded from the t

[2019-12-12 20:02] FrancisToth commented on #180
I actually ended up thinking that pattern matching against lists inside tuples does not work (it seems to compile though)
[code]
triggers the bug and is fixed by:
[code]

[2019-12-14 15:28] nponeccop commented on #178
We can take inspiration from other languages having good descriptions, e.g. the Rust page:

https://marketplace.visualstudio.com/items?itemName=rust-lang.rust

I think we can draft it using an *.md file and let Alan put it to the home page when it's ready.

[2019-12-16 21:17] ogkloo commented on #164
I had this happen several times, along with a host of other problems, that I resolved by running `code <project_dir>` rather than just `code` from an arbitrary directory. It seems hard to come to the conclusion that this is the best way to do this, but after that it works just fine.

[2019-12-17 02:11] YouWillBe commented on #164
Still can not start up. I gave up...

[2019-12-23 10:35] grosto opened #181 "Extention startup error"
I am trying to run extension on MacOS, ghc version 8.6.5. I have another Macbook on which extension runs without a problem. Same operator system version and same ghc version.

This is the log from vscode output. I am not even sure this is causing the error, but there is permanent "loading" when I hover any declaration.

[code]

![image](https://user-images.githubusercontent.com/19875911/71353075-4

[2019-12-23 10:56] alanz commented on #181
The 4th line of the log is complaining that hie cannot run ghc. Make sure it is installed on your machine and on the path.

[2019-12-23 11:38] grosto commented on #181
Thanks, it worked. My expectation was that it would work because I have stack ghc installed.

[2019-12-23 11:38] #181 closed

[2019-12-23 15:41] patrickaldis opened #182 "Hlint hints cannot be applied"
Using latest version of the extension. HIE version 0.14.0.0
I'm finding that all hints displayed by hlint give the appropriate information, but then all display the message 'no quick fixes available'. E.g:
![Screenshot from 2019-12-23 15-39-00](https://user-images.githubusercontent.com/46719614/71366666-96001300-259a-11ea-9109-8e9c27ad84c3.png)

[2019-12-23 15:53] patrickaldis opened #183 "Multiline Problems"
Wondering why the hlint errors are displayed as multiline in the 'Problems' section
![Screenshot from 2019-12-23 15-52-21](https://user-images.githubusercontent.com/46719614/71367195-40c50100-259c-11ea-8e92-9e7f1eb9ce80.png)
Would this not be better in a single line?

[2019-12-23 20:19] jneira commented on #182
Maybe you are already aware but, as temporary workaround, you can apply the refactor clicking on the lightbulb that appears when you set the cursor in the expression

[2019-12-24 09:02] patrickaldis commented on #182
Ah no, I didn't realise this. Thanks very much, I'll make sure to use that from now on.
Is the intention to implement it in the tooltip eventually?

[2019-12-26 08:03] XanderDJ commented on #177
It randomly works and doesn't work at this point. I get the same messages as YouWillBe.

[2019-12-26 08:03] #177 closed

[2019-12-26 12:48] alanz commented on #183
It's formatted that way so you can visually see the differences between the two options, which makes more sense when it is a big complex change.

[2019-12-26 15:26] fendor commented on #164
@ConnorJL may I ask, do you have a ghc installed or are you using only stack?

[2019-12-27 09:06] patrickaldis commented on #183
Ah thanks. I understand.

[2019-12-27 09:06] #183 closed

[2019-12-27 13:06] ConnorJL commented on #164
@fendor I have ghc installed (and on PATH) on this machine yes.

[2019-12-27 13:12] fendor commented on #164
@ConnorJL I actually would suggest trying the latest master. A lot has changed since August.

[2019-12-29 14:21] makarenya opened #184 "autocomplete doesn't work, but only autocomplete"
Autocomplete feature doesn't work. Only it. HIE show help tips, links to documentation. Any other features works fine. Except autocomplete. Only "Loading..." I make my own hie-wrapper to enable debug informations.
After hitting ctrl+space i got trace:
`2019-12-29 15:19:47.397054 [ThreadId 4] - ---> {"jsonrpc":"2.0","id":82,"method":"textDocument/completion","params":{"textDocument":{"uri":"file://

[2019-12-29 22:37] jneira commented on #182
Sorry for the late response, the idea is they should be there too, yeah.

[2019-12-29 23:00] alanz commented on #182
I would say that this is a classification issue, where we no longer comply with the expectations in vscode. hie *is* generating quick fixes, vscode just no longer displays them in the expected place.

[2019-12-29 23:26] jneira commented on #182
I feel that activate the quickfix in the hlint suggestion is the more natural way to apply it.
Anyway, i've opened an issue upstream: https://github.com/haskell/haskell-ide-engine/issues/1524

[2020-01-02 07:28] jneira commented on #182
@patrickaldis hi! actual hie master version already has the @alanz fix to see hlint refactor as a quickfix. You can try it pulling last version of hie and building it.

So i think we close this.

[2020-01-02 10:43] jneira commented on #184
hi! You can get debug info setting
[code]
in vscode options for the hie extension. The output should be in the Output panel under `Haskell HIE (haskell-ide-engine)`

You are experiencing this with all symbols (internal and "external" ones) in whatever project?
What version of hie, ghc and os are you using (to try to reproduce cause afaik it works fine for most users)?

[2020-01-02 10:48] jneira commented on #184
My log of a succesfully hover on a basic function from prelude (`head`) is:
[code]

[2020-01-02 10:51] jneira commented on #184
My log for a succesful completion of `head` is:
[code]

[2020-01-02 17:54] KeeVeeGames opened #185 ""cannot satisfy -package-id" error on startup"
- Windows 10
- VS Code 1.41.1
- Stack 2.1.3
- GHC 8.6.5
- Cabal 2.4.1.0

Creating new project with:
[code]

After opening VS Code, the error appears:
```"cannot satisfy -package-id test-project-0.1.0.0-Cmv2I2cNFPDBukExjBMTyM\n    (use -v for more information)"```

Output when I try mannualy open HIE in the project folder: https://pastebin.com/QWYSpPkv

"Troubleshooting" section in the HIE and othe

[2020-01-02 18:34] alanz commented on #185
This is a problem from latest hie master, which re-introduced the `--lsp` flag. It will be fixed imminently, with a new release of this plugin.

[2020-01-02 18:53] alanz commented on #185
And version `0.0.32` is now on the market.

[2020-01-02 19:36] KeeVeeGames commented on #185
Now I get this:

```The Haskell HIE (test-project) server crashed 5 times in the last 3 minutes. The server will not be restarted.```

[2020-01-02 20:55] KeeVeeGames commented on #185
Got this in the log file:

```Invalid option `--lsp'

Usage: hie-wrapper [--version] [--help] [--numeric-version] [--compiler]
                   [-d|--debug] [-l|--logfile LOGFILE] [--lsp]
                   [-r|--project-root PROJECTROOT] ([--bios-verbose] |
                   [--vomit]) [-c|--capture CAPTUREFILE] [--example]
[Info  - 23:52:34] Connection to server got closed. Server will restar

[2020-01-02 21:15] alanz commented on #185
How did you install? it looks like you are running an older version of `hie-wrapper`.

[2020-01-02 22:13] nth-commit opened #186 "Invalid option `--lsp`"
Extension version: 0.0.32
HIE version: Version 1.0.0.0, Git revision a8c156b8a12d03c9eb4a23174eaac1eb9725eff1 (3539 commits) x86_64 ghc-8.6.5

Latest update fails to start HIE, with error message:

[code]

[2020-01-02 22:23] alanz commented on #186
You need to install hie from master, or the prior release. For a while it did not honour the `--lsp` flag.

[2020-01-02 22:24] alanz commented on #186
Edit: make sure when you install that you update hie-wrapper too.

[2020-01-02 23:13] alanz commented on #186
FYI, you need to have

[code]
So at least 3539 commits.

[2020-01-02 23:36] alanz commented on #186
Running from the command line should give as per https://gist.github.com/alanz/12191b6763ab6f403a526123d00c5bbb

[2020-01-03 03:13] nth-commit commented on #186
Hey, thanks a lot for the quick reply, @alanz.

I think I have the right version running, in line with your gist (although I am on windows).

[code]

[2020-01-03 10:35] jneira commented on #186
Hi! could you check, just in case, if you have set the extension config option `"languageServerHaskell.useCustomHieWrapper": true` and `"languageServerHaskell.useCustomHieWrapperPath": "${path}"`?
Maybe the last one is pointing to another, older `hie-wrapper`?

[2020-01-03 11:05] KeeVeeGames commented on #185
I built it from sources accorcding to "Installation" guide.
I re-cloned the repo and built hie again, but got the same results.

The interseting thing is when I try to mannualy start hie-wrapper in the project dir with the `--lsp` it seems to understand this flag: https://pastebin.com/6BZ544K6

🤔

[2020-01-03 11:50] KeeVeeGames commented on #185
I made a custom wrapper with this batch command:
`hie-wrapper --lsp -d`

And it doesn't show any errors anymore, but it still doesn't work: not showing any hlint suggestions or nover tooltips.

Here is the output I got from that: https://pastebin.com/fmnLk1jb

[2020-01-03 19:07] alanz commented on #185
I think the critical part of the log is

[code]

[2020-01-03 19:36] KeeVeeGames commented on #185
You mean the 'stty' part? Do you have any idea how to fix that?

And I suppose the problem with the stadard wrapper can also be fixed somehow.

[2020-01-03 20:14] KeeVeeGames commented on #185
I found a 'stty' tool in the `%localappdata%\Programs\stack\x86_64-windows\msys2-20180531\usr\bin` and added this to an environment paths.

After that `'stty' is not recognized` line place was taken by the `stty: 'standard input': Inappropriate ioctl for device`. And still nothing works.

[2020-01-03 22:08] alanz commented on #185
Ping @jneira, I think this may be a windows thing somehow.

[2020-01-04 01:25] jneira commented on #185
Hi! The stty thing is disturbing but it should not break the execution. Nevertheless [there is a workaround to remove it from the output](https://github.com/haskell/haskell-ide-engine/issues/1428#issuecomment-547530794).
@KeeVeeGames if you run `stack build` in a console within the project dir root, does the command success? Could you attach the log opening a `.hs` file and making hover on a defin

[2020-01-04 01:32] jneira commented on #186
@nth-commit You can try to workaround the problem setting `"languageServerHaskell.hieExecutablePath": "${path}"`, being `${path}` the full path to the `hie` executable (no `hie-wrapper`).

[2020-01-04 01:41] jneira commented on #186
I've just updated he vscode extension to `0.32` and i am experiencing the same issue using `hie-wrapper` so i would recommend bypassing it using the workaround mentioned [above](https://github.com/alanz/vscode-hie-server/issues/186#issuecomment-570745238).

[2020-01-04 01:44] jneira commented on #185
You can use the vscode extension option `"languageServerHaskell.hieExecutablePath": "X:\path\to\hie.exe"` to get he same behavior

[2020-01-04 03:34] eo1989 opened #187 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-hie-server`
- Extension Version: `0.0.32`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-04 10:57] alanz commented on #186
So maybe I need to re-look at the extension. The code I put back was not quite the same as what originally came out, https://github.com/alanz/vscode-hie-server/commit/23a3ee36af5921fe4043ddd44dbf876b66d481ce doing

[code]

vs original https://github.com/alanz/vscode-hie-server/blob/0.0.29/src/extension.ts#L151-L154
[code]

[2020-01-04 11:10] KeeVeeGames commented on #185
@jneira thank you for joining.

`stack build` succeed, compiled program is working.

The output stops on the
[code]
lines and nothing changes no matter if hover something,

[2020-01-04 11:10] KeeVeeGames commented on #185
I tried the method with this `hieExecutablePath` option and got different results.

When I first started vscode with wrapper bypass it was showing me the `cannot satisfy -package-id` error like from the beginning. Also producing this ouput: https://pastebin.com/zq0VGe85

But after restart it starts working fine, showing me hlint suggections and hover tips, output also seems alright. I tried te res

[2020-01-04 13:51] KeeVeeGames commented on #186
This issue may be related to mine: https://github.com/alanz/vscode-hie-server/issues/185

[2020-01-04 21:38] JorisBlanken opened #189 "Windows 10, The Haskell HIE (...) server crashed 5 times in the last 3 minutes. The server will not be restarted."
I have started using this extension recently and it has worked fine.
However, now whenever I open a haskell file in vscode I get the following error:

I have tried manually installing vscode-hie-server from master, but to no avail.
It looks like this issue has been experienced by other users, but none that I could find use Windows nor were there any with applicable solutions.

Operating system:
Wi

[2020-01-04 22:55] jneira commented on #189
Hi, you should be using the version 0.32 of the vscode extension. The version `0.33` is already available and it has an option to avoid the error:
`"languageServerHaskell.noLspParam": true`

[2020-01-04 23:44] jneira commented on #185
@KeeVeeGames  A new version of the extension `0.34` has been released and it should fix the issue without setting any option, so you could reset the `languageServerHaskell.hieExecutablePath` extension option.
Thanks for reporting and provide info to help fix it.

[2020-01-04 23:47] jneira commented on #187
@eo1989 If the issue was the same as #186 (`invalid option --lsp`) the just released version `0.34` of the extension should fix the issue

[2020-01-04 23:49] jneira commented on #186
@nth-commit The new version of the extension `0.34` should fix the issue without setting any option, so you could reset the `languageServerHaskell.hieExecutablePath` extenxion option.
Thanks for reporting and provde info to help fix it.

[2020-01-05 02:42] JorisBlanken commented on #189
I updated to `0.34` and the extension no longer crashes.
Awesome work!

[2020-01-05 02:42] #189 closed

[2020-01-05 16:47] JorisBlanken opened #190 "All results from HIE are null"
I'm running extension version 0.0.34, but there doesn't seem to be any functionality.
I took at look at the HIE output and it looks like all results are returned as null.

I setup a small hello world project with a single file:
[code]

Here's what is logged by HIE when hovering over `main`:
[code]

This project only contains the single haskell file (i.e. `stack init` wasn't used).
The extension ha

[2020-01-05 18:10] alanz commented on #190
I think this may be related to the new hie-bios version.

What version of hie are you using? (`hie --version`)

[2020-01-05 18:30] KeeVeeGames commented on #185
It's fixed now, thank you.

[2020-01-05 18:30] #185 closed

[2020-01-05 19:26] JorisBlanken commented on #190
[code]

[2020-01-05 19:28] alanz commented on #190
Until we fix it, add a file called `hie.yaml` in the same directory, with `cradle: { direct: { arguments: [] } }` in it.

[2020-01-07 14:46] ConnorJL commented on #164
For unrelated reasons, I have nuked the system this wasn't working on. HIE works fine on my new system. Sorry for not being too helpful in tracking down bugs, and thank you for your work on this tool!

[2020-01-07 14:46] #164 closed

[2020-01-07 14:52] fendor commented on #164
@ConnorJL No worries, we have more than enough bugs left, you will be helpful in another :)

[2020-01-08 08:15] jneira commented on #186
@alanz i think we can close this one (as always @KeeVeeGames could reopen it if version `0.34' does not fix the issue)

[2020-01-08 08:16] jneira commented on #187
@alanz i think we can close this one (as always @eo1989  could reopen it if version `0.34` does not fix the issue)

[2020-01-08 22:39] #186 closed

[2020-01-08 22:41] #187 closed

[2020-01-09 06:31] jneira commented on #47
I cant reproduce it anymore with last version of hie in windows.
@AnthonyJacob could you give a try reinstalling hie? Feel free to reopen if you continue experiencing the issue

[2020-01-09 06:31] #47 closed

[2020-01-09 06:33] jneira commented on #51
It seems hie starts with logging by default now

[2020-01-09 06:33] #51 closed

[2020-01-09 06:35] jneira commented on #54
Hie does not use cabal-helper-wrapper anymore so, at least the error should be different.
@marmistrz could you try with latest hie?

[2020-01-09 06:35] #54 closed

[2020-01-09 06:36] jneira commented on #56
Hie does not use ghcmod anymore so maybe it is fixed or at least the error should be different.

[2020-01-09 06:36] #56 closed

[2020-01-09 06:37] jneira commented on #57
I cant reproduce it anymore with latest hie. @marmistrz could you try again?

[2020-01-09 06:37] #57 closed

[2020-01-09 06:38] jneira commented on #59
This should be fixed with hie master.

[2020-01-09 06:38] #59 closed

[2020-01-09 06:40] jneira commented on #68
@MuratOzsoyler could you try again installing latest master? feel free to reopen if you continue experiencing the issue.

[2020-01-09 06:40] #68 closed

[2020-01-09 06:42] jneira commented on #69
hie does not support ghc-8.2.2 anymore so i would test with a supported ghc version and latest hie. @YoEight feel free to reopen if you continue expereincing this

[2020-01-09 06:42] #69 closed

[2020-01-09 06:42] jneira commented on #75
The issue linked is resolved so it seems this could be closed too

[2020-01-09 06:42] #75 closed

[2020-01-09 06:44] jneira commented on #76
It seems we have not that dependency anymore (i search in the project dependencies)

[2020-01-09 06:44] #76 closed

[2020-01-09 06:46] jneira commented on #77
The loggins system has changed a lot in the meanwhile: @nickolay could you give a try with latest master?

[2020-01-09 06:46] #77 closed

[2020-01-09 06:49] jneira commented on #79
Now there is an option to choose floskell instead brittany. @cideM, @Rhywun  feel free to reopen (or open a new one) if that does not resolve the issue for you

[2020-01-09 06:49] #79 closed

[2020-01-09 06:53] jneira commented on #84
@Rhywun hie should start without ghc in path using stack (since https://github.com/haskell/haskell-ide-engine/pull/1496)
@mpilgrem the issue about spaces in path is being tracked in hie itself: https://github.com/haskell/haskell-ide-engine/issues/1356

[2020-01-09 06:53] #84 closed

[2020-01-09 06:54] jneira commented on #81
hlint should be fixed in latest hie and hie does not use ghcmod anymore
@AurevoirXavier feel free to reopen if you continue experiencing it with the latest version of hie

[2020-01-09 06:54] #81 closed

[2020-01-09 07:20] jneira commented on #86
I cant reproduce it in windows 10 wit latest versions of the vscode extension and hie, otoh logging had changed a lot.
Not sure about NixOs though.
@Imfractical @tristangreeno @supermari0 @bratfizyk @lem0n4de @sheyll could you all give a try with latest versions?

[2020-01-09 07:24] jneira commented on #89
I think we could close this one as it has a known workaround and it is documented

[2020-01-09 07:24] #89 closed

[2020-01-09 07:24] jneira commented on #92
This should be fixed, @CaptJakk feel free to reopen if you continue experiencing it

[2020-01-09 07:24] #92 closed

[2020-01-09 07:28] jneira commented on #97
`languageServerHaskell.useHieWrapper` was restored and it works as intended so i think we can close

[2020-01-09 07:28] #97 closed

[2020-01-09 07:30] jneira commented on #101
I've changed the title to cover the last one suggestion from @chrismwendt

[2020-01-09 07:39] jneira commented on #105
It seems the use of hie-wrapper is stable and afaik it is working without have to do any workaround .
@paul-snively @Rhywun @pascalpoizat new could you try with latest extension and hie versions?
Feel free to reopen if you continue experiencing it

[2020-01-09 07:39] #105 closed

[2020-01-09 07:44] jneira commented on #106
@kgtkr do you continue expereincing the issue with latest versions of the extension and hie?
also, in which os did you hit the issue?

[2020-01-09 07:53] jneira commented on #112
The setting was restored and afaik it works
@justjoheinz feel free to reopen if you have any concern

[2020-01-09 07:53] #112 closed

[2020-01-09 07:54] jneira commented on #116
@Magicloud do you continue experiencing this with latest versions of the extension and hie?

[2020-01-09 08:18] jneira commented on #118
Hie no longer use cabal-helper-wrapper, otoh the runtime dependency on the hlint data file is known issue, tracked (and about to be fixed!) in: https://github.com/haskell/haskell-ide-engine/issues/1143

[2020-01-09 08:18] #118 closed

[2020-01-09 08:20] jneira commented on #122
@huylv do you continue expereincing it with latest versions of the extension and hie?

[2020-01-09 08:21] jneira commented on #123
@OlingCat it seems it could be fixed, please try again with latest versions of the extension and hie and reopen if you continue experiencing it

[2020-01-09 08:21] #123 closed

[2020-01-09 08:26] jneira commented on #124
@all i cant reproduce in my windows systems since hie-1.0.0.0, almost all linked issues in hie are closed, could you try again with latest versions of hie and the extension?

[2020-01-09 08:26] #124 closed

[2020-01-09 08:30] jneira commented on #125
In addition to upload to hackage/[stackage](https://github.com/haskell/haskell-ide-engine/issues/328) we want to add precompiled binaries: https://github.com/haskell/haskell-ide-engine/issues/1068
There is a similar issue in hie: https://github.com/haskell/haskell-ide-engine/issues/1383 so i will close this one if you dont mind (reopen if it is not the case)

[2020-01-09 08:30] #125 closed

[2020-01-09 08:32] jneira commented on #126
hie not longer uses cabal-helper-wrapper and it is able to start using stack if there is no ghc on path so i think this should be fixed: @ianbrault @2mol  feel free to reopen if it is not the case

[2020-01-09 08:32] #126 closed

[2020-01-09 08:34] jneira commented on #128
hie not longer uses cabal-helper-wrapper and it is able to start using stack if there is no ghc on path so i think this should be fixed with latest versions of hie and the extension: @srcdes @FledgeXu @krikchaip @KillyMXI @Rizary @luochen1990  feel free to reopen if it is not the case

[2020-01-09 08:34] #128 closed

[2020-01-09 08:36] jneira commented on #131
hie not longer requires cabal by default and no warning message is show

[2020-01-09 08:36] #131 closed

[2020-01-09 09:06] jneira commented on #132
@spacekitteh feel free to reopen if you feel your question was not answered

[2020-01-09 09:06] #132 closed

[2020-01-09 09:08] jneira commented on #133
This was fixed by https://github.com/haskell/haskell-ide-engine/pull/1537
@spacekitteh feel free to reopen if this is reproduced with latest versions of hie and the extension

[2020-01-09 09:08] #133 closed

[2020-01-09 09:15] jneira commented on #138
It seems it should be implemented in hie so i will reopen the original one and close this one

[2020-01-09 09:15] #138 closed

[2020-01-09 09:21] jneira commented on #140
I am able to reproduce this with latest versions of hie and the extension

[2020-01-09 09:24] jneira commented on #143
The handling of temporal files used by the extension (probably the cause of the issue) has changed a lot and maybe it fixed the issue, @andrewufrank could you try with latest versions of hie and the extension? feel free to reopen if you continue experiencing it

(The feature of restart hie is tracked in #46)

[2020-01-09 09:24] #143 closed

[2020-01-09 09:26] #145 closed

[2020-01-09 09:33] jneira commented on #146
There exists a option to enable verbose output: `"languageServerHaskell.trace.server": "verbose"`
and other one to set the path of the log file: `"languageServerHaskell.logFile": ""`

If the last one it is not set all output is shown in the Output panel -> "Haskell HIE (haskell-ide-engine)" window

Feel free to reopen if you still think to have another option for arguments is needed.

[2020-01-09 09:34] jneira commented on #158
hie not longer uses `cabal-hie-wrapper` so this one should be fixed, @Huxpro feel free to reopen if you continue hitting this with latest versions of hie and the extension

[2020-01-09 09:34] #158 closed

[2020-01-09 09:38] jneira commented on #163
@gantsevdenis @Phill101 lot of things have changed in hie, please, could you try with latest versions of hie and vscode extension? Feel free to reopen if you continue hitting the issue

[2020-01-09 09:38] #163 closed

[2020-01-09 09:39] jneira commented on #167
@hmemcpy hie not longer uses `cabal-helper-wrapper` so this one should be fixed, feel free to reopen if it is not the case

[2020-01-09 09:39] #167 closed

[2020-01-09 09:39] jneira commented on #165
@GuillaumeDesforges @Ptival  hie not longer uses `cabal-helper-wrapper` so this one should be fixed, feel free to reopen if it is not the case

[2020-01-09 09:39] #165 closed

[2020-01-09 09:47] jneira commented on #180
I can reproduce with latest versions of hie and the extension

[2020-01-09 09:48] #182 closed

[2020-01-09 09:52] jneira commented on #190
Closed by https://github.com/haskell/haskell-ide-engine/pull/1551

[2020-01-09 09:52] #190 closed

[2020-01-09 11:06] KillyMXI commented on #146
The above facts were known to me before opening this issue. What was not known to me is whether the extension gets all it can from the HIE server with these settings.

According to https://github.com/alanz/vscode-hie-server/blob/d9386f41607f95c9ea364cf7dd38e67869793b67/src/extension.ts#L147-L148 , the extension seem to be able to set both `--debug` (`-d`) and `--vomit` arguments when `"languageSer

[2020-01-09 13:58] jneira commented on #146
@KillyMXI thanks for explaination, i will reopen

hie server dont have any other options to get more output, what info are you missing? the log is giving now a lot of info

[2020-01-09 15:44] KillyMXI commented on #146
I was initially concerned about closing this issue without explaining how existing settings match with underlying HIE arguments. I then checked what those settings actually do, and wrote that down in the previous comment.
After figuring that, I have no more intent to keep this issue open. I'm sorry if that wasn't clear from my comment.

Now I think my attempts to find some missing clues in the log

[2020-01-09 15:44] #146 closed

[2020-01-09 15:56] bratfizyk commented on #86
Sure, will do. I'll try it with NixOS and Ubuntu.
Busy time now, but over the weekend I'll find a moment.

[2020-01-09 17:19] Magicloud commented on #116
Sorry, I cannot confirm. HIE does not work for me recently.

[2020-01-09 20:45] jneira commented on #116
Oh, sorry to hear that, would you have time to open a new issue with the incorrect behaviour?
In the meanwhile i will close this one.

[2020-01-09 20:45] #116 closed

[2020-01-10 02:10] nth-commit commented on #186
Awesome, thanks team. Sorry I was AFK, but had same experiences of those described above 👍 Thanks for your work @alanz ❤️

[2020-01-10 19:15] Magicloud commented on #116
OK.

[2020-01-13 11:55] Swoorup commented on #46
👍 for this. I would like restart feature especially in cases when I add new stack packages and HIE isn't able to update its internal definition. A restart would solve this for now.

[2020-01-13 13:12] jneira commented on #46
@Swoorup Could you use the general command "Reload Window" (by default bint to `ctrl + R`) as workaround?

[2020-01-14 02:17] Swoorup commented on #46
@jneira Can confirm that works as a workaround.

Will use that for now. Just an FYI, there are other LanguageServer that has this feature as well.

![image](https://user-images.githubusercontent.com/3408009/72308053-19131580-36d0-11ea-8ed5-ab423d048bcf.png)

[2020-01-14 02:19] Swoorup opened #192 "Go to library definition"
Does this extension support viewing library source files, similar to intellij-haskell via `Go To Definition`?

[2020-01-14 03:57] Avi-D-coder commented on #192
Not yet. It's blocked on [ghcide integration](https://github.com/haskell/haskell-ide-engine/issues/1416), and then ghcide gaining [support](https://github.com/digital-asset/ghcide/issues/61).

[2020-01-15 11:36] georgefst opened #194 "Hoogle warning when Haddock docs present"
As I understand it (correct me if I'm wrong / over-simplifying), Hie uses Hoogle when Haddock docs are not present. My project is configured with `--enable-documentation` and thus, as far as I'm aware, I'm not missing out on any features that Hoogle would provide.

However, on startup, this extension will always issue the 'No hoogle database found...' warning if it can't find a Hoogle database. Th

[2020-01-15 11:37] fendor commented on #194
Hie uses Hoogle for Documentation if Haddock are not present.
However, there are features such as the import functionality of `HsImport` that depend *only* on Hoogle. So, yeah, you are missing out on a quickaction to import symbols from a library.

[2020-01-15 11:38] fendor commented on #194
Example:
[code]
Can be turned with two code actions into:
[code]

[2020-01-15 14:23] georgefst commented on #194
Oh neat, I didn't realise that had been implemented.

I guess the warning (or the actual documentation for Hie) could be improved by stating why a Hoogle database is useful, even in the presence of Haddocks.

FWIW, I struggled a bit to find how to get HIE to pick up my Hoogle database, but it turned out that `hoogle generate -l` from the project root is all that was needed.

[2020-01-15 14:31] fendor commented on #194
There are some caveats though: it can only be used to import symbols from external libraries, nothing from the local project and import of types is broken, atm.

The issue for that is https://github.com/haskell/haskell-ide-engine/issues/1366.

When you install hie from source, the target `data` is recommended, which does this for you! https://github.com/haskell/haskell-ide-engine#building

[2020-01-15 15:46] georgefst commented on #194
Ah fair enough. Now that running `cabal install` (with new-style cabal) just works, I've been running that. I'll make sure to use the proper script next time I update.

[2020-01-17 15:09] alanz opened #195 "LSP spec 3.15 is now published"
Update to using https://www.npmjs.com/package/vscode-languageclient/v/6.0.0

[2020-01-21 16:33] makarenya commented on #184
Hi. sorry for long response. So I analyze your log and my log. My visual studio stops immediately after line
2020-01-02 11:49:30.7711859 [ThreadId 4] - <--2--{"result":...
And no more added in the log... And.
1. Thank you for the trace option. Very helpflul.
I try to explore this on some projects. One of them - freshly generated YESOD project with
 `stack new hsite yesodweb/sqlite && cd hsite`
Ano

[2020-01-21 16:36] makarenya commented on #184
Maybe you know any additional steps for debugging?

[2020-01-21 16:51] shmish111 opened #197 "difficulty starting with multi-module project"
I am trying to use this plugin with https://github.com/input-output-hk/plutus which is a stack project with multiple sub-projects. I used to have it working but now I'm getting the following:
[code]
however it does appear that hie is running (although nothing is working in vscode):
[code]
It looks like the command `stack build --only-configure .` is being run from the directory that contains the s

[2020-01-21 16:58] fendor commented on #197
What kind of hie version is that? It looks like `8.0`? Any idea why `stack build --only-configure .` fails?

[2020-01-21 17:01] shmish111 commented on #197
I just installed latest `master` `hie` with stack and looking at the VSCode setup it should be using that. I get the following from my terminal:
[code]

[2020-01-21 17:14] shmish111 commented on #197
agh, this was a mistake in my stack.yaml, sorry please ignore the issue

[2020-01-21 17:14] #197 closed

[2020-01-21 17:34] fendor commented on #197
No worries, it happens :)

[2020-01-22 06:54] makarenya commented on #184
Disabling all VS code plugins, except vscode-hie-server and enabling it all again solved problem.
¯\_(ツ)_/¯

[2020-01-22 06:54] #184 closed

[2020-01-22 22:57] kanashimia opened #198 "Type signatures are doubled and no hoogle info is displayed"
On reload it quickly fixes itself for one moment (thats how i took that photo).
After some time (switching between projects) it goes back to normal but on save is doubles again.
GHCIDE works as expected (so i dont this that this is hie-bios related).

This only  happends to some of the functions; base and other packages are affected too.

<details>
  <summary>Output</summary>

[code]
</details>

<

[2020-01-22 23:06] fendor commented on #198
Interesting, maybe related to https://github.com/haskell/haskell-ide-engine/issues/1567?

[2020-01-22 23:08] kanashimia commented on #198
Yeah, it seems like it.

[2020-01-22 23:10] fendor commented on #198
Can you also try to run in `--debug` mode and link the logs of the full process, e.g. first it works, then it doesnt? Either by defining a custom hie-wrapper path that sets the the flag `--debug` or by setting in vscode "Haskell Language Server > Language Server Haskell > Trace : Server" to "verbose".

[2020-01-22 23:18] kanashimia commented on #198
<details>
  <summary>LOG</summary>

[code]

</details>

[2020-01-22 23:22] kanashimia commented on #198
It's normal just as you save, by the time all that logging is finished it's all wrong again.

[2020-01-22 23:28] kanashimia commented on #198
Also, info still shows sometimes, even after doubling.

![HMM](https://lh3.googleusercontent.com/aBuUtlMnVBBnC11oZqPYYfqHu3L1Hc9l1cAlTessEYa76vnWQQgc9H3yG-hXSFBHoX8XTRypFttt2XzaVvs25sbcUHt5oIHqaXeyA_CYTzOg6owbUbmmi5g1G3lwBjROo845dTBbPBXK1UjgnsYoBj5XCI5yoboU5HpomhvkP5EwDsrAYTIA_Vywxsr0YZMMtTn03_yL0ZJp87INplekrPn5SLBN4dPYlsPN-e7YZTRd8YwCDq5Y86yXuCptw2EiDJukvORNMHweSZrj5VxnmlzGy7PAMo2tsq2V_QuSskY3nJY

[2020-01-22 23:30] fendor commented on #198
The doubling itself is *as far as I know* alright. It shows you the declared type and the actual type, which in this case is very useful, at least in my opinion.
Missing documentation is a bug.

[2020-01-26 07:24] kanashimia commented on #198
After doing fresh* install - same stuff.
*(deleting everything that i can and just installing stack; i've even tried to do it with or without haskell platform)

Even on the older version of hie, which is very strange because it didnt happen to me before ;$

[2020-01-26 08:53] kanashimia commented on #198
So i found a way of "fixing" this - it fixes itself when you switch to another haskell file and go back.

[code]

As you see the only real difference is this line:
`hoogle query: viewport package:OpenGL module:Graphics.Rendering.OpenGL.GL.CoordTrans is:exact`

[2020-01-26 08:59] kanashimia commented on #198
This is log of me:
1. opening vs code
2. hovering over "viewport" function
3. switching to another file
4. switching to initial file
5. hovering over "viewport" function again

<details>
  <summary>LOG</summary>

[code]

</details>

[2020-02-02 17:41] fendor opened #199 "Update README to use modern `./install.hs` script only"
There are some inconsistencies and artefacts old installation processes.
See https://github.com/haskell/haskell-ide-engine/issues/1626 where this bit a user.
We need to update these instructions!

[2020-02-04 09:22] #46 closed

[2020-02-04 15:04] flip111 opened #200 "Getting a warning/suggestion about using hie-wrapper."
I'm getting this suggestion `Mismatching GHC versions: Stack project is 8.2.2, HIE is 8.6.5
You may want to use hie-wrapper. Check the README for more information`

`hie-wrapper.exe` is in PATH

Even though i don't want to use a custom wrapper [this section](https://github.com/alanz/vscode-hie-server#custom-wrapper) talks about a configuration options `useHieWrapper` which i don't see in the confi

[2020-02-04 17:10] flip111 commented on #199
Maybe you can send a pull request ?

[2020-02-04 17:14] flip111 commented on #178
@AMDphreak can you send a pull request to put information similar to the first paragraph of https://marketplace.visualstudio.com/items?itemName=rust-lang.rust under the first paragraph of [readme](https://github.com/alanz/vscode-hie-server/blob/master/README.md)

[2020-02-04 17:44] flip111 opened #202 "hie-wrapper needs GHC but this is not required"
[code]

It's not required by the readme to have GHC in path (if i didn't skip over this information). I use stack so ghc is somewhere installed in the stack internal directories. Not sure what the best approach is to make GHC available.

In my case ghc is located at `C:\Users\flip111\AppData\Local\Programs\stack\x86_64-windows\ghc-8.8.2\bin`, i'm not sure if i'm suppose to use this GHC directly.

[2020-02-04 17:46] flip111 commented on #202
Maybe hie-wrapper can check if stack is installed and invoke ghc through `stack exec -- ghc` instead ??

[2020-02-04 17:48] flip111 commented on #202
Tried bringing this ghc version into path but got
[code]

[2020-02-04 18:06] fendor commented on #202
Theoretically, hie-wrapper does exactly that. It probably failed though to detect that it was used in a stack project.
Can you describe your project structure and how you opened the project in hie?

[2020-02-04 18:12] fendor commented on #200
Can you post the logs of hie-wrapper? It should be enough to invoke `hie-wrapper --debug` in the root of your project to give us some insight

[2020-02-04 18:23] fendor commented on #180
https://github.com/haskell/haskell-ide-engine/issues/1629 seems related to this and not specific to vscode.

[2020-02-04 18:29] flip111 commented on #200
[hie-wrapper_log.txt](https://github.com/alanz/vscode-hie-server/files/4155210/hie-wrapper_log.txt)

[2020-02-04 18:30] flip111 commented on #202
[code]

[2020-02-04 18:35] fendor commented on #202
Do you have `cabal` installed but not ghc?
In our heuristic, existence of `cabal.project` and `cabal` is installed, indicates that the project is a cabal project, therefore we are trying to access the `ghc` version on the path, which fails. Could be more resilient.

[2020-02-04 18:42] fendor commented on #200
Well, the message is wrong but the behaviour is correct (or at least in our definition of "correct", not objectively). Stack the project is currently compiled with a snapshot that uses `ghc-8.2.2`. We are not supporting a ghc version that old. However, hie-wrapper attempts to load the project with the most generic hie version we have, which is `hie` but it happens to be version `8.6.5` and, thus,

[2020-02-04 18:44] flip111 commented on #200
Is there anything that can be done about this?

[2020-02-04 18:45] fendor commented on #200
Use cabal to build the stack project. IIRC, that worked out ok.

[2020-02-04 18:46] flip111 commented on #202
It seems that cabal is installed at `C:\Users\flip111\AppData\Roaming\local\bin\cabal.exe`.

So if a project both supports cabal and stack, cabal takes precedence?

[2020-02-04 18:48] flip111 opened #203 "Add some indication that hie is busy"
When opening a project it can happen that `hie` still takes a long time to compile things. At the moment there is no visual indication (as far as i know) that vscode-hie-server is waiting for this to complete. So you spend time with "it doesn't work" .. and then later it works. Maybe a spinner somewhere or a pop-up would do.

[2020-02-04 18:51] flip111 commented on #200
Can older GHC versions be supported by vscode-hie-server?

The readme could mention which ghc versions are supported at the moment.

This message `Mismatching GHC versions: Stack project is 8.2.2, HIE is 8.6.5 You may want to use hie-wrapper. Check the README for more information` could change depending if it found an unsupported GHC version.

[2020-02-04 18:53] fendor commented on #203
That mainly happens with `hie-wrapper` and using the implicit cradle.
The reason is that `hie-wrapper` needs to know the ghc version to know which hie version should be used in the project. However, to know the project ghc version, e.g. in stack, we need to configure the project, which builds all the dependencies of the project. Only then we can start the correct hie version.
The problem now is, t

[2020-02-04 18:58] fendor commented on #200
We are not compiling this information into an hie executable since this could be outdated as well.
`vscode-hie-server` can not, but hie *could*. If you feel up to the challenge, you could try to add support for `ghc 8.2.2` but there are multiple non-trivial reasons for the support stop. The main reason being that it hogs down the development speed and increases time needed to support multiple vers

[2020-02-04 18:59] flip111 commented on #203
If there is a map available from stack resolver to ghc version all that is needed is to parse stack.yaml this will speed up things a lot.

Looks like the situation with hie-wrapper at the moment is not ideal. Maybe it can have more LSP-server like features.

[2020-02-04 19:07] flip111 commented on #200
I also don't feel like adding support for older versions of GHC in haskell-ide-engine. Perhaps i will do it some time in the new haskell-language-server after it matured a bit more.

But this issue is on the vscode-hie-server repo, is it ok to open a pull request to indicate which GHC versions are supported? From `stack ./install.hs help` this seems to be `8.4` and `8.6`.

What situation does `hie

[2020-02-04 19:29] fendor commented on #203
Yes, that is true. But not that trivial to implement.

Easier said than done.

[2020-02-04 19:38] fendor commented on #200
yes that would be very welcome! On linux, ghc 8.8 is supported as well.

when you have multiple stack projects with different ghc versions that the correct version of hie is launched.

[2020-02-04 19:50] fendor commented on #202
If cabal and stack are installed and both `cabal.project` and `stack.yaml` exist, then yes, cabal takes precedence for no reason but implementation detail. Currently, the only way to tell hie to use stack in that case is using a custom `hie.yaml` -> https://github.com/haskell/haskell-ide-engine#project-configuration

[2020-02-04 20:08] flip111 commented on #203
Maybe close this issue if there is a meta issue for possible improvements to hie-wrapper

[2020-02-04 20:14] flip111 commented on #202
I think this should be the other way around because when `stack.yaml` is present people are more likely to prefer stack than cabal. People who don't like stack and use cabal often don't put a `stack.yaml` in the project.

[2020-02-04 22:03] fendor commented on #202
If you explictly check in a `cabal.project`, we just assume it the other way around. This is just roughly a 50-50 chance to get right. I for example prefer cabal, but have stack installed for testing. For me it would be annoying the other way around. The best way would be to specify it via `hie.yaml` where the developer can specify the build-tool explictly. See https://github.com/haskell/haskell-i

[2020-02-04 22:09] fendor commented on #203
Closed in favour of https://github.com/haskell/haskell-ide-engine/issues/1640

[2020-02-04 22:09] #203 closed

[2020-02-04 22:42] flip111 commented on #202
I'm not sure what the difference is between `myproject.cabal` and `cabal.project`. But i notice that in a fresh stack project `cabal.project` is not available. So when looking at this file you could be quite right that it's a 50/50 situation.

Instead of just this message `hie-wrapper: dieVerbatim: user error (hie-wrapper: The program 'ghc' version >=7.0.1 is required but it could not be found.)`

[2020-02-04 22:50] fendor commented on #202
the file `cabal.project` has the same rank as `stack.yaml` just for cabal. You can specify certain information that cant be expressed via a `*.cabal` file.

No, we can not do that easily because we are calling a library to give us this error (and project initialisation in general) and we dont receive the error message, it is an exception. I would rather avoid catching and then parsing it to decide

[2020-02-04 23:13] flip111 commented on #202
Can it not next to the exception itself print out some "general information" on the next line that always gets printed in case of an exception?

[2020-02-04 23:34] fendor commented on #202
I dont know how often this information is accurate. There are many corner cases wehre additional information might be usefuk. And just dumping a ton of information to the user does not seem like a sensible solution, imo. And in this case, the error message is absolutely clear, although the reason why it is thrown is not.
Moreover, when which tool is selected is documented in https://github.com/has

[2020-02-04 23:37] alanz opened #206 "Upgrade to vscode-languageclient-6.1.0"
Which includes up to date LSP 3.15 support

[2020-02-04 23:50] flip111 commented on #202
Ok let's close this for now.

[2020-02-04 23:50] #202 closed

[2020-02-05 06:54] jneira commented on #199
@flip111 @fendor done in #207

[2020-02-05 08:07] #199 closed

[2020-02-05 08:56] alanz opened #208 "current "master" is branch "broken-0.35""
I managed to mess up release 0.0.35, which simply did not work as published. You cannot roll back from the market, so I rolled forward to 0.0.36, by doing a hard reset of the master branch to tag 0.0.34, updating the version, and tagging it to force publication.

The state of master prior to this surgery is in branch "broken-0.35"

[2020-02-05 10:50] jneira commented on #208
I've tested broken-0.35 locally and it passes the test suite but i have diff versions of node and npm than travis.
I've just triggered it in travis: https://travis-ci.org/jneira/vscode-hie-server/builds/646350457

[2020-02-05 10:52] jneira opened #209 "Add windows to travis ci"
* Now it supports it

[2020-02-05 17:17] alanz commented on #208
Ok, I will take another look, with less time pressure this time.

[2020-02-21 14:07] LeanderK opened #213 "prefer stack over cabal"
HIE wrapper seems to prefer cabal over stack. It would be nice if this could be configured.

[2020-02-21 14:14] fendor commented on #213
via a language server setting or is the explicit `hie.yaml` enough?

[2020-02-21 14:55] LeanderK commented on #213
ah yeah, hie.yaml is the right idea

[2020-02-21 14:55] #213 closed

[2020-02-21 15:36] fendor commented on #213
I dont have anything against a language-server-setting, too.
Also, there is currently no way to specify to use the cabal-helper based discovery mechanism. Relevant issue https://github.com/haskell/haskell-ide-engine/issues/1516

[2020-02-21 15:57] LeanderK opened #214 "Set project specific environment variables for lsp server"
To build my project, i need to set some environment-variables (which can't be global since they are project-specific). Is this possible so that the HIE worker can build the project? Some VS-Code extensions allow the setting of specific environment-variables.

[2020-03-13 23:07] l4nn1312 opened #215 "server crashes 5 times"
Howdy! For some reason, I get the error that hie-wrapper crashed 5 times in the past 3 minutes.

[2020-03-13 23:13] fendor commented on #215
Good morning! Please provide some logs :) https://github.com/alanz/vscode-hie-server#investigating-and-reporting-problems

[2020-03-16 15:11] JunYoung702 opened #217 "Fail on initialisation error & Cannot find module error"
Hi, I'm using Haskell Language Server extension 0.0.37 on Arch Linux. I'm using ghc-8.8.2 with stack(lts-15.3).
And I installed hie-8.8.2 by Aura(https://github.com/haskell/haskell-ide-engine#installation-on-arch-linux)

First error is:
I used stack new command for making new project directory. And I opened folder at vscode.
Extension successfully worked with app/Main.hs and src/Lib.hs which were

[2020-03-16 16:18] fendor commented on #217
You can not use this extension for files like `Setup.hs`. However, the loading of test-components is a known issue and discussed in https://github.com/haskell/haskell-ide-engine/issues/1564.
TLDR; Execute `stack test` before opening the project with hie, then it ought to work.

[2020-03-17 17:04] CozyPenguin opened #218 "No snippet for "do""
When I write `do` and then tap space, it gets autocompleted to `drop Int [a]`. I have created my own snippet to fix this, but I think it should be added by default.

[2020-03-18 13:50] JunYoung702 commented on #217
Thank you.

[2020-03-29 15:15] OctarineSorcerer commented on #140
I'm also able to reproduce this with the latest versions of both hie and extension

[2020-04-04 12:33] itmuckel commented on #215
I'm not the original OP, but I have the same problem.

Output of the extension:
[code]

The project is miso's sample-app-jsaddle, which can be found here: https://github.com/dmjio/miso/tree/master/sample-app-jsaddle

I'm running it inside docker as a devcontainer, but I'm not sure if this is related.

Just in case, here's my current docker file:
[code]

[2020-04-09 15:12] Abastro opened #220 "Version 0.0.37 stuck at type checking"
I don't get what is causing this; I do know that it's version-specific problem, as in it only happens in 2 versions, v0.0.37 and v0.0.35
No error messages at all, output shows nothing, and it is stuck at type checking phase - as if it's doing some work, when it isn't...

What should I do to trace this problem down? Is this only specific to my local end?

[2020-04-09 17:21] fendor commented on #220
Take a look at https://github.com/alanz/vscode-hie-server#investigating-and-reporting-problems.
Are there any logs? If yes, please provide them.

[2020-04-10 15:38] Abastro commented on #220
Nvm, seems like it was a problem on my end. Don't know why it happened, but it works now anyway..

[2020-04-10 15:38] #220 closed

[2020-04-15 22:06] samuela opened #221 "Extension doesn't seem to be running at all on macOS"
When I open up a `.hs` file (outside of any stack/cabal project). I'm not seeing anything happen at all. The "Extensions" log in the bottom pane doesn't seem to have any output either. I'm running on macOS 10.15.4. I installed HIE via cabal based on the instructions in the README. Not sure what could possibly be wrong since there's no error messages or anything.

Version: 1.45.0-insider
Commit: 1c

[2020-04-16 09:10] fendor commented on #221
Just to clarify, there are no logs? E.g. https://github.com/alanz/vscode-hie-server#investigating-and-reporting-problems
You could also attempt to execute `hie-wrapper --debug .` and link the output here.

[2020-04-16 19:02] samuela commented on #221
@fendor Yeah, my problem is that I'm not seeing "Haskell HIE (cabal)" in the Output dropdown:
![Screen Shot 2020-04-16 at 12 01 38 PM](https://user-images.githubusercontent.com/226872/79495819-08798080-7fda-11ea-8667-557c80003f54.png)

[2020-04-16 19:04] samuela commented on #221
Oh, and I do have "Trace: Server" set to "verbose" in the extension settings.

[2020-04-16 19:13] fendor commented on #221
How did you try to start the extension? Open a haskell source file and installed the plugin?

[2020-04-16 19:27] fendor commented on #221
Sorry, no idea what might have caused this.

[2020-04-17 00:28] samuela commented on #221
Ah, so it seems that the problem is that the extension won't run unless there's a folder opened up in the "workspace". It's not enough to open a Haskell file in a new window that hasn't opened a folder yet.

[2020-04-17 04:28] expipiplus1 commented on #221
I have actually bumped into this before, is it possible to error or warn on this? Or at the least mention in the readme perhaps.

[2020-05-04 20:55] jneira opened #222 "Add a configuration option to switch easily between ghcide, hls and hie"
* A select with fixed options could work
* We can take [emacs lsp-haskell as example](https://github.com/emacs-lsp/lsp-haskell/blob/e9c306b8246e2b50bf9260f71b3d2e5334b90b30/lsp-haskell.el#L39-L49)
* We should choose the initial default value (probably hie for now)
  * We could switch to hls at the right time
* Maybe the rest of params would need a redesign
* We can remove the actual shell scripts:

[2020-05-04 21:54] alanz commented on #222
I am changing the startup config options to be

[code]

Use the selected variant, mapping to `hie-wrapper`, `haskell-language-server-wrapper` or `ghcide`, unless the `hieExecutablePath` is set, in which case use that.

[2020-05-05 19:43] #222 closed

[2020-05-06 05:23] expipiplus1 commented on #169
Bumped into this "compatibility layer" https://github.com/coc-extensions/coc-fsharp/blob/30b93e1071d87361f5690ddd9fbe4e3a2fca84fb/client/coc_compat.ts

Perhaps we could merge something like this and the fork would just be fiddling with some imports at the top. It would certainly make the rebases I'm doing less painful.

[2020-05-06 21:10] alanz commented on #55
@Tehnix help

The personal access token has expired, I have created a new one, but it does not work.

Any pointers?

cc @jneira

[2020-05-06 21:24] Tehnix commented on #55
@alanz hmm, my first instinct would be that it might be the permission scopes? I've found the access token management super non-intuitive.

It should look something like the following:

![Screenshot 2020-05-06 at 23 21 39](https://user-images.githubusercontent.com/1189998/81229645-71a84e80-8ff0-11ea-9663-97b4dfefaf9d.png)

Note the scope of `Marketplace (Acquire)` + `Marketplace (Manage)` along wi

[2020-05-06 21:28] alanz commented on #55
ok, I have that, but not "All Accessible Organizations", will try changing that

[2020-05-06 21:30] Tehnix commented on #55
At least they highlight it at https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token so I assume it's important. I think they changed how they set up the tokens. It also only lasts a year now, so that's something to keep in mind.

[2020-05-06 21:32] alanz commented on #55
yes, that worked, at last. Hallelujah. I was following that guide, but missed that bit.  You end up with bits of info in about three different pages, and finding the right, current one is a pain.

[2020-05-12 11:24] tjdett opened #224 "Update documentation for wrappers"
Wrappers with `languageServerHaskell.useCustomHieWrapperPath` were removed in 0.0.40, but unfortunately `README.md` still specifies using them instead of `languageServerHaskell.hieExecutablePath`.

This is confusing for anybody with a custom wrapper, as the upgrade path from 0.0.39 is not immediately obvious.

Unfortunately this may not be a quick find-and-replace, as the section "Using multi-root

[2020-05-14 12:06] happycoder97 opened #225 "Feature Request: Ability to ignore files"
I am working on a project with Alex and Happy files, which have .x and .y extensions.
They are DSLs for specifying lexers and parsers. They contain embedded blocks of Haskell code.
These files doesn't have syntax highlighting in VSCode. But I can set the filetype to Haskell and get syntax highlighting.
But when I do, hie starts processing the file, gives the error:
`Got error while processing diag

[2020-05-14 12:10] happycoder97 commented on #225
Trace:
[code]

[2020-05-14 12:18] fendor commented on #225
Hi!
There is already a work-around in HIE! Write your own `hie.yaml`! It causes a bit of extra-work at the moment, but bear with me. Reference: https://github.com/mpickering/hie-bios/

Put a file `hie.yaml`
[code]

The stack configs needs to provide a mapping from a directory (or direct filepath) to target.
You can see the targets in a stack projects via the command `stack ide targets`.
If your st

[2020-05-14 14:28] #225 closed

[2020-05-16 05:34] mjbvz opened #226 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-19 15:34] pweids commented on #86
I'm also getting this problem on macOS. The Extension Host log shows `[2020-05-19 10:31:13.709] [exthost] [info] ExtensionService#_doActivateExtension alanz.vscode-hie-server {"startup":false,"extensionId":{"value":"alanz.vscode-hie-server","_lower":"alanz.vscode-hie-server"},"activationEvent":"onLanguage:haskell"}`

I have hie in the PATH, and I put the bin (~/.local/bin/) as the Hie Executable P

[2020-05-22 04:34] michaelmesser opened #228 "CPP extension causes error"
With `{-# LANGUAGE CPP #-}` I get `"'cc' failed in phase 'C pre-processor'. (Exit code: 1)"` from the extension. When I remove `{-# LANGUAGE CPP #-}` from my haskell file it works. My program compiles and runs fine.

[2020-05-23 04:40] jlebar opened #229 "brittany as invoked by vscode-hie-server doesn't match local machine, formats badly"
I am finding that vscode-hie-server is formatting my code differently than when I invoke `brittany` locally.

Here's me invoking it locally:
[code]

In contrast, when I format from the command palette, I get something way worse:
[code]

I am not sure what's going wrong here.  Is vscode-hie-server invoking a rogue version of brittany on my machine?  Could be.  I tried all of the brittany binaries i

[2020-05-23 09:42] fendor commented on #229
`vscode-hie-server` is compiled with its own brittany version, namely brittany-0.12.1.1.
Maybe we are not picking up every configuration on your system?

[2020-05-23 17:15] jlebar commented on #229
Hi, thanks for your reply!

I do have a `~/.config/brittany/config.yaml`.  That's the only config.yaml or brittany.yaml anywhere in my home directory.  I didn't create this; the tool must have defaulted it.

Here's what's inside.

[code]

[2020-05-24 02:20] markxnelson opened #231 "completion does not work"
Code completion does not work at all.  I just get a box that says 'Loading...' - see the image below for an example.

Software versions:
VSCode: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:22.494Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-7629-generic
Haskell Language Server 0.0.40

![Screenshot from 2020-

[2020-05-24 02:25] markxnelson commented on #231
Not sure if this is useful, or what it means, but after restarting code, I get this error:

![Screenshot from 2020-05-23 22-25-14](https://user-images.githubusercontent.com/6345393/82744282-4e95d280-9d44-11ea-95ac-7177a853d361.png)

[2020-05-24 02:29] markxnelson commented on #231
Oh, I think I found the problem, I was trying to turn on tracing like it says at the bottom of the readme, and I noticed haskelly was installed too.  I disabled it, and now completion works.
I will leave this issue open in case you want to update the doc to mention this. Otherwise feel free to close, and thank you!

[2020-05-25 07:42] jneira commented on #231
@markxnelson Thanks for reporting it (and find the problem 😄 )
Agree maybe it deserves a note in docs, although not sure where.

[2020-05-25 07:49] jneira commented on #208
I think we can close this one

[2020-05-25 07:49] #208 closed

[2020-05-25 07:51] jneira commented on #217
Tracked in the hie issue linked above

[2020-05-25 07:51] #217 closed

[2020-05-25 07:53] jneira commented on #86
Closing it, feel free to open a new one if you continue experiencing it

[2020-05-25 07:53] #86 closed

[2020-05-25 07:54] jneira commented on #122
closing this, feel free to reopen or apoen a new one if you continur experiencing the issue

[2020-05-25 07:54] #122 closed

[2020-05-25 08:17] jneira commented on #224
@tjdett thanks for note it, docs has been updated to remove the wrapper related options with #227

[2020-05-25 08:17] #224 closed

[2020-05-25 08:21] jneira commented on #106
Lot of changes since tis issue was reported so i am gonna close it, @kgtkr feel free to reopen in

[2020-05-25 08:21] #106 closed

[2020-05-25 08:23] jneira commented on #101
The wrapper has been removed in the last version, so the issue is not applicable

[2020-05-25 08:23] #101 closed

[2020-05-25 08:26] jneira commented on #161
The wrapper extension settings has been removed but the requested feature could be implemented with the `hieExecutablePath` setting

[2020-05-25 08:28] jneira commented on #162
The wrapper extension settings has been removed, feel free to reopen and edit or open a new one if you reproduce it with other existing extension options

[2020-05-25 08:28] #162 closed

[2020-05-25 08:40] jneira commented on #200
@flip111 could we close this one? The README was updated and not sure if something is needed to be done in this repo

[2020-05-25 08:42] jneira commented on #192
Only note that the ghcide integration is being done in haskell-language-server.

[2020-05-25 12:21] flip111 commented on #200
Sure

[2020-05-25 12:21] #200 closed

[2020-05-26 06:11] #221 closed

[2020-05-26 06:11] #231 closed

[2020-05-26 06:13] #195 closed

[2020-05-27 14:35] andys8 commented on #192
@jneira could you explain why this is part of haskell-language-server and not ghcide to help with my understanding? What about this issue, where it says it's already jumping somehwhere https://github.com/digital-asset/ghcide/issues/509 ? Thanks :)

[2020-05-27 15:09] fendor commented on #192
Haskell Language Server is based on the ghcide fork of mpickering that supports loading multiple components in the same session. This fork is not merged yet, see https://github.com/digital-asset/ghcide/pull/522. As HLS is more experimental, we move faster and break things faster. That is why HLS currently has more features and especially more bleeding edge stuff.

The mentioned issue is about jump

[2020-05-27 16:50] andys8 commented on #192
Thank you

[2020-06-04 07:48] worm2fed opened #233 "Adding a package does not resolve an error"
When I use imports in my code and there are no package in my project two things happen:
1) If I use quick fix (add package as dependency) vscode corrupts the order of lines in package.yaml
BEFORE:
![image](https://user-images.githubusercontent.com/6579275/83729552-73494e80-a650-11ea-92df-ff72a6e61e27.png)

AFTER:
![image](https://user-images.githubusercontent.com/6579275/83729601-82c89780-a650-11e

[2020-06-04 08:35] fendor commented on #233
Thank you for your bug report!
I am assuming you are using Haskell IDE Engine.
This is a known problem, we currently do not reload the session if there are changes to relevant files such as package.yaml, *.cabal files, etc...
Unfortunately, this will not be solved in Haskell IDE Engine.

The good news is that it is implement in [Haskell Language Server](https://github.com/haskell/haskell-language-

[2020-06-04 08:47] worm2fed commented on #233
thanks for information

[2020-06-05 19:28] Matelasse opened #234 "Provide Vscode Notebook Support"
Hi. It may be a little early for this issue, but soon (already available in Insiders) Vscode will add API for native notebooks. There's IHaskell kernel available out there to be hooked up with vscode's API, so my feature request would be to connect them up. Python extension is currently adding support for this, and so is Julia (https://github.com/julia-vscode/julia-vscode/pull/980). Haskell Notebo

[2020-06-17 07:38] andrewguy9 opened #237 "Update default Hie Variant to haskell-ide-engine or haskell-language-server"
Per discussion https://github.com/haskell/haskell-ide-engine/issues/1520.
Updating the default could help users get a better experience with more maintained variants.

Stack/Cabal installation instructions would also need to be updated.

[2020-06-17 08:12] jneira commented on #237
Hi, thanks, we were waiting to have a haskell-language-server version stable and reliable enough to make the switch.
As "enough stable and reliable" is somewhat ambiguous maybe it is already the time to do it.

[2020-06-18 02:37] andrewguy9 commented on #237
I'm certainly having a better time of it. The `haskell-ide-engine` had been hanging and crashing on the default `stack new` project template.

[2020-06-18 12:20] bubba commented on #237
I would propose to do this as a part of #236, as the "magical" installation of haskell-language-server part would be pretty pointless if haskell-language-server was not selected as the default

[2020-06-18 12:22] bubba opened #239 "Remove "maxNumberOfProblems" configuration option"
As I was looking through the VS Code extensions API documentation, I found that the maxNumberOfProblems configuration option is lifted straight from the [example extension that they provide](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide#explaining-the-language-client).

I'm not sure how useful such a configuration option is in practice, and does haskell-lang

[2020-06-18 12:30] fendor commented on #237
I agree, while HLS will have some starting problems, e.g. you almost always have to write a `hie.yaml`, it is already more stable than HIE (including auto-reload on dependency changes) and faster.

It would be important to have the ultimate guide to write your own `hie.yaml`. Also, a way to generate it via HLS/ghcide.

[2020-06-28 16:52] WillSewell opened #241 "Format cabal files"
It would be nice if this extension could format cabal files with `cabal format`.

Is there a reason (technical or otherwise) why this might not be a good idea?

If you agree that it would be nice to have, it's something I'd be happy to have a go at implementing.

[2020-06-28 17:20] fendor commented on #241
It could be a plugin in Haskell Language Server, e.g. [cabal-fmt](https://github.com/phadej/cabal-fmt)
I think `cabal format` itself doesnt do a lot. Also, maybe developers have only stack installed, so it might even not be available.

In my opinion, it would be a very nice addition!

[2020-06-29 11:44] WillSewell commented on #241
Ah I had assumed that `vscode-hie-server` called Haskell formatters (brittany, ormolu) directly. Does it invoke the via Haskell Language Server? Either way I think this should be consistent.

[2020-06-29 12:05] jneira commented on #241
@WillSewell yeah, the formatting should be added in hls as a plugin. I've added a issue to track it in the hls repo: https://github.com/haskell/haskell-language-server/issues/183

[2020-07-19 13:11] cblp opened #243 "Command 'Haskell: Restart HIE' resulted in an error (command 'hie.commands.restartHie' not found)"
v0.0.40

[2020-07-19 14:38] cblp opened #244 "Initializing Stack project"
A message "Initializing Stack project" is hanging too long.

Log:
[code]

You can test with https://github.com/cblp/phaerish

[2020-07-19 15:04] cblp commented on #244
Workaround: delete `.stack-work`

[2020-07-19 19:14] jneira commented on #244
Hi, thanks for reporting the error and the workaround.
haskell-ide-engine are being deprecated in favor of haskell-language-server, so i would suggest you to use the last one. Concretely hls is about to drop the cabal-helper component so it will not cause that fail.
You can choose it changing the vscode config option `hie-variant`.

[2020-07-19 19:14] #244 closed

[2020-07-22 20:04] bubba commented on #206
Looks like this was done in https://github.com/alanz/vscode-hie-server/commit/d9b4e8e5a45c7f3de8578803b03ae75be3cc2d4b

[2020-07-22 20:04] #206 closed

[2020-07-22 20:05] bubba commented on #140
Fixed in #235

[2020-07-22 20:05] #140 closed

[2020-07-22 20:15] #237 closed

[2020-07-22 20:15] #178 closed

[2020-07-22 20:15] #226 closed

[2020-07-22 23:54] georgefst commented on #243
Still getting this with version 0.1:

[code]

[2020-07-23 00:19] georgefst opened #246 "Formatter setting ignored"
With version 0.1, I'm finding that, regardless of what I set, Ormolu is used as the formatting provider.

The following is logged when I try to change the setting through the GUI:
[code]

[2020-07-23 07:39] alanz commented on #246
Which backend are you using? This only works with haskell language server, to my knowledge

[2020-07-23 07:53] konn commented on #246
Same here, with `haskell-language-server` 0.2.1 backend, automatically downloaded by the extension, with `stylish-haskell` configured as a formatter.
Actually, it seems that no formattings are taken place.

In OUTPUT pane, a similar message is displayed when I change the formatter after the server launched:

[code]

Perhaps JSON schema changed in 0.2.1?

[2020-07-23 10:19] georgefst commented on #246
HLS. Both with the binary auto-downloaded by the extension, and with one I built myself that worked correctly with the previous version.

[2020-07-23 14:37] jneira commented on #246
https://github.com/haskell/haskell-language-server/issues/226 will fix this one

[2020-07-23 14:51] bubba commented on #246
Whoops. I renamed the configuration section to be inline with the other language servers (i.e. "rust.blah", so "langaugeServerHaskell.blah" => "haskell.blah") but completely forgot to actually update it in hls. Fix is here https://github.com/haskell/haskell-language-server/pull/227

[2020-07-23 14:56] bubba commented on #246
HIE fix is https://github.com/haskell/haskell-ide-engine/pull/1794

[2020-07-23 15:26] #243 closed

[2020-07-24 17:46] aschmois opened #248 "GHC Mismatch error on default install"
## Details
- Stack project
- LTS 16.6 (ghc 8.8.3)
- Ubuntu 20.04
- Project builds normally through `stack build` and other tools like ghcid and ghci
- All default values.
- Possibly related? https://github.com/haskell/haskell-language-server/issues/221

## Steps taken
Cleaned out all of ghc and stack and existing haskell binaries and reinstalled everything with the same result.

## Error:
After le

[2020-07-26 01:47] mkoloberdin opened #250 "Publish on open-vsx.org / VSCodium support"
Could you please publish the extension on open-vsx.org as well?
See https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace

[2020-07-27 18:14] zliu41 commented on #61
HLint now supports eta reduce refactoring (https://github.com/ndmitchell/hlint/pull/1085).

[2020-07-28 23:40] georgefst opened #255 ""No formatter found" (Brittany)"
On a fresh install, Brittany is set as the default formatter, but any formatting requests fail, with the log showing:

[code]

Perhaps the binaries were compiled without the AGPL flag?

FWIW, my vote is very much for Ormolu as the default. For one thing, on the first file I tested, it was the only one that actually worked, due to the presence of `ImportQualifiedPost`.

[2020-07-28 23:43] georgefst opened #256 ""manual executable missing""
This is the error message when `hieExecutablePath` is set, but there's no `haskell-language-server` there. It took me a few minutes to make the connection.

A lot of people are likely to hit this when moving from a locally-compiled binary to one provided by the extension, so the message could probably be clearer.

[2020-07-29 07:52] fendor commented on #255
Thank you for the report! I have noticed this, too. I think I messed up the cabal flags somewhere.

[2020-07-29 11:10] bubba commented on #255
The static binaries are indeed built without the AGPL flag. However I'm not sure if we would be able to turn it on since I think this counts as distributing, which would be mean we would need to distribute the binaries under AGPL too (I'm no license expert here so feel free to correct me)
I am +1 for changing the default formatter to Ormolu/Floskell/Stylish Haskell

[2020-07-29 11:25] bubba commented on #256
Is something like in https://github.com/haskell/vscode-haskell/pull/257 more clear?

[2020-07-29 11:39] bubba commented on #246
Fixed in hls 0.2.2

[2020-07-29 11:39] #246 closed

[2020-07-29 12:52] #256 closed

[2020-07-29 16:23] bubba commented on #241
Closing since this has been moved to haskell-language-server!

[2020-07-29 16:23] #241 closed

[2020-07-30 16:19] Ciantic commented on #99
These days there are better ways with WSL remoting that just works:

https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl

I highly recommend using WSL remoting instead of the hack I gave above. Because WSL remoting uses the Linux environment in full to run the extensions, it works way better.

[2020-07-30 16:21] #99 closed

[2020-07-30 16:22] AurevoirXavier commented on #99
These features totally not working.

1. Formatting via Brittany, Floskell, Ormolu or Stylish Haskell
2. Code evaluation (Haskell Language Server) I can't see the `Evaluate...` which show in the gif.

I'm sure I already install the brittany and it's in my `$PATH`.

[2020-07-30 16:23] AurevoirXavier commented on #99
Yes I'm using  WSL remoting.

[2020-07-30 16:25] AurevoirXavier commented on #99
This plugin works well. https://marketplace.visualstudio.com/items?itemName=MaxGabriel.brittany

So my `$PATH` is OK.

But isn't this plugin a all-in-one plugin? I don't want to install too many plugins.

[2020-07-30 16:39] AurevoirXavier commented on #99
https://github.com/haskell/vscode-haskell/issues/255

After switch to ormolu, formatter works.

But `Evaluate` still not working.

[2020-07-30 18:00] kirillbobyrev opened #260 "VSCode's "Haskell (legacy)" vs "Haskell""
Right now the link in this repo points to [Haskell (legacy) extension](https://marketplace.visualstudio.com/items?itemName=alanz.vscode-hie-server) which has `0.2.0` version. IIUC the correct (new) extension is [Haskell](https://marketplace.visualstudio.com/items?itemName=haskell.haskell) (published by "Haskell") since it has the 1.0.0 version but the Legacy version doesn't have any correct pointe

[2020-07-31 10:13] bubba commented on #260
Yeah your assumption is correct, we should update the README for the legacy extension to point this out. ping @jaspervdj can you update the link to this repo to point to `https://marketplace.visualstudio.com/items?itemName=haskell.haskell`, and update the project description to say "VS Code extension for Haskell, powered by haskell-language-server"?

[2020-07-31 10:14] bubba commented on #260
And now that I think about it I don't have access to publish the legacy extension so I think we need to wait till @alanz is back from his vacation before we can update the README

[2020-07-31 10:16] jaspervdj commented on #260
@bubba Sure, I've made the updates.

[2020-07-31 10:20] bubba commented on #260
@jaspervdj thanks, that was fast!

[2020-07-31 10:27] #255 closed

[2020-07-31 21:28] Shangyint opened #261 "haskell-language-server crashed"
I am getting

on a Windows Linux Subsystem (`VERSION="18.04.2 LTS (Bionic Beaver)"`). The log is as follows
[code]

Any help is appreciated, thanks!

[2020-08-01 22:32] bubba commented on #99
The evaluate issue is broken on static binaries on Linux, it's tracked by this issue here https://github.com/haskell/haskell-language-server/issues/221

[2020-08-02 14:01] AustinZhu opened #264 "display info on hover not working when ambiguous definition occurs"
Steps to reproduce this problem:
1. create a single .hs file
2. import some module and define a function whose name collides with a function in the module.
3, save the file and **restart** VS Code

In my case, it does highlight the error that ambiguous definition occurs, but it seems that the extension is not inspecting other parts of the code. When I hover on a function or a variable, it shows an

[2020-08-02 14:35] fendor commented on #264
This is to be expected, since we typecheck the project and provide hover information based on the type checking information. If you introduce an error now, we can use the information from the last successful typecheck for hover. If you close your session and open it from new, we don't have any caches, so we can't show you anything.

[2020-08-02 15:12] alanz commented on #260
So can we close this issue? Do I still need to do anything?

[2020-08-03 10:40] ratanakkim opened #265 "Manual Executable missing"
Getting manual executable missing after setting path to hls-8.6.5.exe
for stack ghc lts-14.22
i.e. : C:\Users\Bob\AppData\Roaming\local\bin\haskell-language-server.exe